@charset "UTF-8";

#wrap {width: 100%;}

/* slied3d */
#wrap #slide3d {width: 100%;;font-family: 'Montserrat';background: url(../img/section_bg2.jpg) no-repeat 50% 50%;background-size: cover;}
#wrap #slide3d .wrap {width: 100%;max-width: 1170px;margin: 0 auto;}
#wrap #slide3d .wrap .gap {margin: 0 15px;}
#wrap #slide3d .wrap .gap .container {width: 100%;text-align: center;}

#wrap #slide3d .wrap .gap .container .title {padding: 100px 0 120px 0;}
#wrap #slide3d .wrap .gap .container .title h2 {font-size: 60px;font-weight: 600;color: #fdfdfd;text-shadow: 3px 4px 3px rgba(0, 0, 0, .3);text-transform: uppercase;letter-spacing: 1px;}

#wrap #slide3d .wrap .gap .container .slide-container {width: 100%;}
#wrap #slide3d .wrap .gap .container .slide-container .slide-view {width: 100%;}
#wrap #slide3d .wrap .gap .container .slide-container .slide-view .slide-wrap {width: 100%;max-width: 700px;position: relative;margin: 0 auto;transform-style: preserve-3d;transform: perspective(2154px) translateZ(-1077px) rotateY(0deg) rotateX(-5deg);transition: all .4s;}
#wrap #slide3d .wrap .gap .container .slide-container .slide-view .slide-wrap .slide {position: absolute;top: 0;left: 0;width: 100%;}

#wrap #slide3d .wrap .gap .container .slide-container .slide-view .slide-wrap .slide0 {transform: rotateY(calc(36deg*0)) translateZ(1077px);}
#wrap #slide3d .wrap .gap .container .slide-container .slide-view .slide-wrap .slide1 {transform: rotateY(calc(36deg*1)) translateZ(1077px);}
#wrap #slide3d .wrap .gap .container .slide-container .slide-view .slide-wrap .slide2 {transform: rotateY(calc(36deg*2)) translateZ(1077px);}
#wrap #slide3d .wrap .gap .container .slide-container .slide-view .slide-wrap .slide3 {transform: rotateY(calc(36deg*3)) translateZ(1077px);}
#wrap #slide3d .wrap .gap .container .slide-container .slide-view .slide-wrap .slide4 {transform: rotateY(calc(36deg*4)) translateZ(1077px);}
#wrap #slide3d .wrap .gap .container .slide-container .slide-view .slide-wrap .slide5 {transform: rotateY(calc(36deg*5)) translateZ(1077px);}
#wrap #slide3d .wrap .gap .container .slide-container .slide-view .slide-wrap .slide6 {transform: rotateY(calc(36deg*6)) translateZ(1077px);}
#wrap #slide3d .wrap .gap .container .slide-container .slide-view .slide-wrap .slide7 {transform: rotateY(calc(36deg*7)) translateZ(1077px);}
#wrap #slide3d .wrap .gap .container .slide-container .slide-view .slide-wrap .slide8 {transform: rotateY(calc(36deg*8)) translateZ(1077px);}
#wrap #slide3d .wrap .gap .container .slide-container .slide-view .slide-wrap .slide9 {transform: rotateY(calc(36deg*9)) translateZ(1077px);}

#wrap #slide3d .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap {margin: 0 40px;}
#wrap #slide3d .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content {background: url(../img/slide10.jpg) no-repeat 50% 50%;background-size: cover;width: 100%;line-height: 350px;font-size: 30px;text-transform: uppercase;color: #fff;text-shadow: 3px 4px 2px rgba(0, 0, 0, .3);border: 5px solid #fcfcfc;user-select: none;}

#wrap #slide3d .wrap .gap .container .slide-container .slide-view .slide-wrap .slide0 .slide-gap .slide-content {background-image: url(../img/slide1.jpg);}
#wrap #slide3d .wrap .gap .container .slide-container .slide-view .slide-wrap .slide1 .slide-gap .slide-content {background-image: url(../img/slide2.jpg);}
#wrap #slide3d .wrap .gap .container .slide-container .slide-view .slide-wrap .slide2 .slide-gap .slide-content {background-image: url(../img/slide3.jpg);}
#wrap #slide3d .wrap .gap .container .slide-container .slide-view .slide-wrap .slide3 .slide-gap .slide-content {background-image: url(../img/slide4.jpg);}
#wrap #slide3d .wrap .gap .container .slide-container .slide-view .slide-wrap .slide4 .slide-gap .slide-content {background-image: url(../img/slide5.jpg);}
#wrap #slide3d .wrap .gap .container .slide-container .slide-view .slide-wrap .slide5 .slide-gap .slide-content {background-image: url(../img/slide6.jpg);}
#wrap #slide3d .wrap .gap .container .slide-container .slide-view .slide-wrap .slide6 .slide-gap .slide-content {background-image: url(../img/slide7.jpg);}
#wrap #slide3d .wrap .gap .container .slide-container .slide-view .slide-wrap .slide7 .slide-gap .slide-content {background-image: url(../img/slide8.jpg);}
#wrap #slide3d .wrap .gap .container .slide-container .slide-view .slide-wrap .slide8 .slide-gap .slide-content {background-image: url(../img/slide9.jpg);}
#wrap #slide3d .wrap .gap .container .slide-container .slide-view .slide-wrap .slide9 .slide-gap .slide-content {background-image: url(../img/slide10.jpg);}

#wrap #slide3d .wrap .gap .container .slide-container .slide-btn-wrap {padding: 150px 0 0 0;}
#wrap #slide3d .wrap .gap .container .slide-container .slide-btn-wrap span {display: inline-block;background: #000;width: 150px;line-height: 40px;position: relative;margin: 0 10px;border: 1px solid #000;overflow: hidden;}
#wrap #slide3d .wrap .gap .container .slide-container .slide-btn-wrap span a {display: block;font-size: 18px;color: #fdfdfd;position: relative;z-index: 2;transition: all .6s ease-in-out;}
#wrap #slide3d .wrap .gap .container .slide-container .slide-btn-wrap span:hover a {color: #000;}
#wrap #slide3d .wrap .gap .container .slide-container .slide-btn-wrap span i {position: absolute;top: 0;left: -120%;background: #fdfdfd;width: 115%;height: 100%;transform: skewX(-20deg);transition: all .6s ease-in-out;}
#wrap #slide3d .wrap .gap .container .slide-container .slide-btn-wrap span:hover i {left: -5%;}

/* blog */
#wrap #blog {width: 100%;background: url(../img/section_bg1.jpg) no-repeat 50% 100% fixed;background-size: cover;position: relative;z-index: 1;}
#wrap #blog::after {content: '';display: block;position: absolute;z-index: 2;top: 0;left: 0;background: #232323;opacity: .2;width: 100%;height: 100%;}
#wrap #blog .wrap {width: 100%;max-width: 1170px;margin: 0 auto;position: relative;z-index: 3;}
#wrap #blog .wrap .gap {margin: 0;}
#wrap #blog .wrap .gap .container {width: 100%;text-align: center;}

#wrap #blog .wrap .gap .container .title {width: 100%;padding-top: 130px;}
#wrap #blog .wrap .gap .container .title h2 {font-size: 50px;font-weight: 600;letter-spacing: 2px;;color: #dbdbdb;text-shadow: 3px 3px 2px rgba(0, 0, 0, .3);}
#wrap #blog .wrap .gap .container .title h3 {padding: 20px 0 70px 0;}
#wrap #blog .wrap .gap .container .title h3 img {width: auto;}

#wrap #blog .wrap .gap .container .content {width: 100%;}
#wrap #blog .wrap .gap .container .content > ul {width: 100%;}
#wrap #blog .wrap .gap .container .content > ul > li {float: left;width: 50%;}
#wrap #blog .wrap .gap .container .content > ul > li .content-gap {margin: 15px;}
#wrap #blog .wrap .gap .container .content > ul > li .content-gap .content-wrap {width: 100%;}
#wrap #blog .wrap .gap .container .content > ul > li .content-gap .content-wrap > ul {width: 100%;background: #fff;}
#wrap #blog .wrap .gap .container .content > ul > li .content-gap .content-wrap > ul > li {float: left;width: 50%;}

#wrap #blog .wrap .gap .container .content > ul > li .content-gap .content-wrap > ul > li .img-wrap {width: 100%;overflow: hidden;}
#wrap #blog .wrap .gap .container .content > ul > li .content-gap .content-wrap > ul > li .img-wrap img {width: 100%;transition: all .4s ease-in-out;}
#wrap #blog .wrap .gap .container .content > ul > li .content-gap .content-wrap > ul:hover > li .img-wrap img {transform: scale(1.1);}

#wrap #blog .wrap .gap .container .content > ul > li .content-gap .content-wrap > ul > li .text-wrap {width: 100%;height: 100%;display: table;position: relative;}
#wrap #blog .wrap .gap .container .content > ul > li .content-gap .content-wrap > ul > li .text-wrap::after {content: '';display: block;position: absolute;top: 45%;left: -30px;border-top: 15px solid rgba(255, 255, 255, 0);border-right: 15px solid rgba(255, 255, 255, 1);border-bottom: 15px solid rgba(255, 255, 255, 0);border-left: 15px solid rgba(255, 255, 255, 0);}
#wrap #blog .wrap .gap .container .content > ul > li .content-gap .content-wrap > ul > li .text-wrap .text-gap {padding: 0 10.5263158%;display: table-cell;}
#wrap #blog .wrap .gap .container .content > ul > li .content-gap .content-wrap > ul > li .text-wrap .text-gap .text-content {width: 100%;}
#wrap #blog .wrap .gap .container .content > ul > li .content-gap .content-wrap > ul > li .text-wrap .text-gap .text-content h4 {font-size: 12px;color: #ababab;}
#wrap #blog .wrap .gap .container .content > ul > li .content-gap .content-wrap > ul > li .text-wrap .text-gap .text-content p {padding: 3.5087719% 0;}
#wrap #blog .wrap .gap .container .content > ul > li .content-gap .content-wrap > ul > li .text-wrap .text-gap .text-content p a {font-size: 18px;color: #343434;line-height: 120%;}
#wrap #blog .wrap .gap .container .content > ul > li .content-gap .content-wrap > ul > li .text-wrap .text-gap .text-content span  {display: block;}
#wrap #blog .wrap .gap .container .content > ul > li .content-gap .content-wrap > ul > li .text-wrap .text-gap .text-content span i {display: inline-block;width: 30px;height: 2px;background: #c8a64b;}