@charset "UTF-8";

$test-white : #fff;
$test-textColor : #191919;
$test-inputBg : #e1e1e1;
$test-formBtn : #b0b0b0;
$test-alertColor : #f14141;

.wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    .container {
        max-width: 1180px;
        width: auto;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.login_form {
    max-width: 480px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -10vh;

    .title {
        font-size: 32px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .id_pw_wrap {
        width: 100%;
        
        div {
            margin-top: 20px;
            input{
                width: 100%;
                background: $test-inputBg;
                padding: 15px;
                border: 0;
                color: $test-textColor;
                font-size: 18px;
                border-radius: 5px;

                &:focus {
                    outline: 0;
                }
                &::placeholder {
                    color: #9d9d9d;
                }
                &:focus::placeholder {
                    opacity: 0;
                }
            }
        }        
    }

    .remember_help_wrap {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 10px 0 20px;

        input[type="checkbox"] + label {
            display: inline-block;
            width: 20px;
            height: 20px;
            border: 1px solid $test-inputBg;
            position: relative;
            text-indent: 24px;
            white-space: nowrap;
            cursor: pointer;

            &::after {
                content: '';
                position: absolute;
                top: 1px;
                left: 5px;
                width: 5px;
                height: 10px;
                border: solid $test-alertColor;
                border-width: 0 3px 3px 0;
                border-radius: 3px;
                transform-origin: 50%;
                transform: rotate(45deg) scale(0);
                transition: all .1s;
            }
        }

        input[type="checkbox"]:checked + label {

            &::after {
                transform: rotate(45deg) scale(1);
                transition: all .1s;
            }
        }

        input[type="checkbox"] {
            display: none;
        }
    }

    .btn_login {
        width: 100%;
        background: $test-formBtn;
        padding: 15px;
        color: $test-white;
        font-size: 18px;
        border-radius: 5px;
        cursor: pointer;
    }
}