@charset "utf-8";

@media all and (max-width:1500px){
    /* w1400 지정된애들 vw크기로 조정 */

    /* Header */
    #wrap #header {width: 100%;}
    
    #wrap #header .wrap .gap .container #logo {width: 118px;padding: 30px 50px 30px 50px;}

    #wrap #header .wrap .gap .container #nav .nav-gap .gnb-wrap > ul {width: 93.33vw;}
    #wrap #header .wrap .gap .container #nav .nav-gap .gnb-wrap > ul > li .gnb-btn {padding: 36px 1vw 3px 1vw;}
    #wrap #header .wrap .gap .container #nav .nav-gap .gnb-wrap > ul > li .gnb-title-btn {margin: 0 1vw 0 50px;}

    #wrap #header .wrap .gap .container #nav .nav-gap .gnb-wrap > ul > li .gnb-vertical {margin: 30px 1vw 0 1vw;}

    /* main section2 */
    #wrap #main #section2 .box .wrap .gap .container {width: 100%;}

    #wrap #main #section2 .box .wrap .gap .container .slide-container {width: 70vw;}
    #wrap #main #section2 .box .wrap .gap .container .slide-container .slide-view .slide-wrap {width: calc(70vw*15);margin-left: calc(-70vw*5);}
    #wrap #main #section2 .box .wrap .gap .container .slide-container .slide-view .slide-wrap .slide {width: 70vw;}
  
    #wrap #main #section2 .box .wrap .gap .container .room-content {width: 23.33vw;}
    #wrap #main #section2 .box .wrap .gap .container .room-content .content-gap .earlybird-wrap .earlybird-btn > span > img {width: 19.33vw;}

    /* main section3 */
    #wrap #main #section3 {width: 100%;}
    #wrap #main #section3 .box {width: 100%;}
    #wrap #main #section3 .box .section3bg {width:70vw;}
    #wrap #main #section3 .box .wrap {width:30vw;}
    #wrap #main #section3 .box .wrap .gap .container {width: 23.33vw;}
    #wrap #main #section3 .box .wrap .gap .container .dinning-content .dinning-gap .promotion-wrap .promotion-btn > span > img {width: 19.33vw;}

    /* main section4 */
    #wrap #main #section4 .wrap .gap {width: 93.33vw;}
    #wrap #main #section4 .wrap .gap .container .slide-container {width: 93.33vw;}

    /* main section5 */
    #wrap #main #section5 .wrap .gap {width: 93.33vw;}

    /* main section6 */
    #wrap #main #section6 .wrap .gap {width: 93.33vw;}
    #wrap #main #section6 .wrap .gap .container .membership-wrap .membership-left {width: 60vw;}

    /* main section7 */
    #wrap #main #section7 .wrap .gap {width: 93.33vw;}

    /* footer */
    #wrap #footer .wrap .gap {width: 93.33vw;}

}

@media all and (max-width:1350px){
    /* Header */
    #wrap #header {width: 100%}
    
    #wrap #header .wrap .gap .container #logo {position: absolute;z-index: 2;top: 50px;left: 0;padding: 30px 30px 30px 50px;}

    #wrap #header .wrap .gap .container #nav .nav-gap .gnb-wrap > ul > li .gnb-btn {padding: 36px 0.9vw 3px 0.9vw;}
    #wrap #header .wrap .gap .container #nav .nav-gap .gnb-wrap > ul > li .gnb-btn span {font-size: 15px;}
    #wrap #header .wrap .gap .container #nav .nav-gap .gnb-wrap > ul > li .gnb-title-btn {margin: 0 0 0 30px;}
    #wrap #header .wrap .gap .container #nav .nav-gap .gnb-wrap > ul > li .gnb-title-btn .title-btn-img {display: none;}

    #wrap #header .wrap .gap .container #nav .nav-gap .gnb-wrap > ul > li .gnb-vertical {margin: 30px 0.9vw 0 0.9vw;}

    #wrap #main #section2 .box .wrap .gap .container .room-content .content-gap .earlybird-wrap .earlybird-btn > span > img {width: 19.33vw;}
    #wrap #main #section3 .box .wrap .gap .container .dinning-content .dinning-gap .promotion-wrap .promotion-btn > span > img {width: 19.33vw;}

    /* main section6 */
    #wrap #main #section6 .wrap .gap .container .membership-wrap .membership-left {width: 560px;}

}

@media all and (max-width:1200px){

    #wrap {position: relative;z-index: 1;overflow: hidden;}

    /* Header 제어 */
    #wrap #header.addHide {top: -50px;}
    #wrap #header.addShow {top: 0;}

    /* Header */
    #wrap #header {width: 100%;height: 50px;background: transparent;}
    #wrap #header .wrap {padding: 0 30px;}
    #wrap #header .wrap .gap {margin: 0 auto;}
    #wrap #header .wrap .gap .container {width: 100%;}
    
    /* 해당 컨텐츠들은 모바일메뉴시 모달창안으로 */
    #wrap #header .wrap .gap .container .header-box {display: none;}
    #wrap #header .wrap .gap .container .header-box .left-box {float: left;height: 21px;padding: 14.5px 0;}
    #wrap #header .wrap .gap .container .header-box .left-box > span {display: inline-block;}
    #wrap #header .wrap .gap .container .header-box .left-box > span .new-hotel-tap {display: inline-block;font-size: 12px;color: #bbb;line-height: 180%;width: 170px;letter-spacing: .5px;}
    
    #wrap #header .wrap .gap .container .header-box .left-box > span .find-hotel {display: inline-block;font-size: 12px;color: #bbb;line-height: 180%;margin-left: 20px;font-weight: 300;}
    #wrap #header .wrap .gap .container .header-box .left-box > span .find-hotel .find-hotel-icon {margin-left: 5px;margin-top: -4px;}
    
    #wrap #header .wrap .gap .container .header-box .left-box > span .lang-KR {display: inline-block;font-size: 14px;color: #bbb;line-height: 150%;width: 55px;text-align: right;}
    #wrap #header .wrap .gap .container .header-box .left-box > span .lang-KR .lang-change-icon {margin-top: -2px;margin-left: 15px;}
    #wrap #header .wrap .gap .container .header-box .left-box > span .lang-EN {display: none;font-size: 14px;color: #bbb;line-height: 150%;width: 36px;text-align: center;padding: 0 8px;}
    
    
    #wrap #header .wrap .gap .container .header-box .right-box {float: right;width: auto;height: 21px;padding: 14.5px 0;}
    #wrap #header .wrap .gap .container .header-box .right-box ul {width: 100%;}
    #wrap #header .wrap .gap .container .header-box .right-box ul li {float: left;width: auto;text-align: right;}
    #wrap #header .wrap .gap .container .header-box .right-box ul li a {display: inline-block;font-size: 12px;line-height: 180%;color: #bbb;margin: 0 12px;}
    #wrap #header .wrap .gap .container .header-box .right-box ul li span {display: inline-block;width: 1px;height: 10px;background: #666;position: absolute;top: 40%;}
    
    /* header logo */
    #wrap #header .wrap .gap .container #logo {position: absolute;z-index: 2;top: 0;left: 0;width: 118px;padding: 4px 0 4px 30px;}
    #wrap #header .wrap .gap .container #logo h1 {text-indent: -2000px;overflow: hidden;display: none;}
    #wrap #header .wrap .gap .container #logo a {display: block;position: relative;overflow: hidden;}
    #wrap #header .wrap .gap .container #logo a .logo-white {display: inline-block;width: 118px;height: 42px;background: url(../img/bg_logo_grand.png) no-repeat;}
    #wrap #header .wrap .gap .container #logo a .logo-black {display: none;width: 118px;height: 84px;background: url(../img/bg_logo_grand.png) no-repeat;position: absolute;top: -42px;left: 0;}
    #wrap #header .wrap .gap .container #logo a.addBlack .logo-black {display: inline-block;}

    /* Nav */
    #wrap #header .wrap .gap .container #nav {width: 100%;height: 600px;position: absolute;z-index: 1;top: 50px;left: 0;display: none; background:rgba(240, 240, 240, 1);}
    #wrap #header .wrap .gap .container #nav.mouseon {background: rgba(255, 255, 255, 1);}
    #wrap #header .wrap .gap .container #nav .nav-gap {margin: 0;}
    
    #wrap #header .wrap .gap .container #nav .nav-gap .gnb-wrap {height: 100px;text-align: left;padding-left: 0;}
    #wrap #header .wrap .gap .container #nav .nav-gap .gnb-wrap > ul {width: 100%;}
    #wrap #header .wrap .gap .container #nav .nav-gap .gnb-wrap > ul > li {display: block;width: auto;background: #ddd;}

    #wrap #header .wrap .gap .container #nav .nav-gap .gnb-wrap > ul > li .gnb-btn {display: inline-block;padding: 10px 0 10px 20px;}
    #wrap #header .wrap .gap .container #nav .nav-gap .gnb-wrap > ul > li .gnb-btn span {display: inline-block;color: #fff;font-size: 16.5px;font-weight: 600;line-height: 150%;position: relative;}
    #wrap #header .wrap .gap .container #nav.mouseon .nav-gap .gnb-wrap > ul > li .gnb-btn span {color: #000;}
    #wrap #header .wrap .gap .container #nav .nav-gap .gnb-wrap > ul > li .gnb-title-btn {margin: 0;}
    #wrap #header .wrap .gap .container #nav .nav-gap .gnb-wrap > ul > li .gnb-title-btn .title-btn-img {display: inline-block;position: absolute;top: 8px;right: -25px;width: 16px;height: 10px;}
    #wrap #header .wrap .gap .container #nav .nav-gap .gnb-wrap > ul > li .gnb-btn span .gnb-line {display: inline-block;width: 100%;height: 2px;position: absolute;bottom: -1px;left: 0;}
    
    #wrap #header .wrap .gap .container #nav .nav-gap .gnb-wrap > ul > li:hover .gnb-btn span {color: #ba998c;}
    #wrap #header .wrap .gap .container #nav .nav-gap .gnb-wrap > ul > li:hover .gnb-btn .gnb-line {border-bottom: 2px solid #ba998c;}
    #wrap #header .wrap .gap .container #nav .nav-gap .gnb-wrap > ul > li:hover .gnb-title-btn .gnb-line {border-bottom: 0}
    
    #wrap #header .wrap .gap .container #nav .nav-gap .gnb-wrap > ul > li .gnb-vertical {display: none;}

    /* header mobile-btn */
    #wrap #header .wrap .gap .container .mobile-btn-wrap {display: block;}
    #wrap #header .wrap .gap .container .mobile-btn-wrap a.mobile-btn i.bar {background: #fff;}

    #wrap #header .wrap .gap .container .mobile-btn-wrap a.mobile-btn i.bar.addBlack {background: #000;}
    #wrap #header .wrap .gap .container .mobile-btn-wrap a.mobile-btn i.bar.addWhite {background: #fff;}

    /* header side-box */
    #wrap #header .side-btn-box {display: none;}

    /* main indicator */
    #wrap #main .main-indicator {display: none;}


    /* main section1 */
    #wrap #main #section1 .wrap .gap .container .mainBg-slide-container .mainBg-slide-view .main-text-wrap a .main-text1 {font-size: 30px;}
    #wrap #main #section1 .wrap .gap .container .mainBg-slide-container .mainBg-slide-view .main-text-wrap a .main-text3 {font-size: 20px;}



    /* main section2 */
    #wrap #main #section2 {background: #fff;height: 80vw;}
    #wrap #main #section2 .box {height: 80vw;}
    #wrap #main #section2 .box .section2bg {background: #fff;}
    #wrap #main #section2 .box .wrap .gap .container {margin-top: 0;margin: 0 60px;}
    #wrap #main #section2 .box .wrap .gap .container .slide-container {float: none;margin-top: 100px;width: 58.33vw;}
    #wrap #main #section2 .box .wrap .gap .container .slide-container .slide-view .slide-wrap {width: calc(58.33vw*15);margin-left: calc(-58.33vw*5);}
    #wrap #main #section2 .box .wrap .gap .container .slide-container .slide-view .slide-wrap .slide {float: left;width: 58.33vw;height: 42.16vw;}


    #wrap #main #section2 .box .wrap .gap .container .room-content {float: none;position: absolute;z-index: 2;top: 0;left: 0;display: block;width: 100%;padding-top: 45px;width: 650px;}
    #wrap #main #section2 .box .wrap .gap .container .room-content .content-gap .room-box {display: block;height: 170px;padding-bottom: 30px;}
    #wrap #main #section2 .box .wrap .gap .container .room-content .content-gap .room-box h2 {display: block;margin-bottom: 15px;}
    #wrap #main #section2 .box .wrap .gap .container .room-content .content-gap .room-box h3 {font-size: 30px;line-height: 130%;margin: 0 0 8px 0;}
    #wrap #main #section2 .box .wrap .gap .container .room-content .content-gap .room-box .rooms {margin: 10px 0;}
    #wrap #main #section2 .box .wrap .gap .container .room-content .content-gap .room-box .room-btn {display: inline-block;margin-top: -60px;margin-left: 548px;}

    #wrap #main #section2 .box .wrap .gap .container .room-content .content-gap .earlybird-wrap {height: 150px;display: inline-block;position: relative;padding-bottom: 30px;top: 200px;left: 58.33vw;margin-left: 5vw;}
    #wrap #main #section2 .box .wrap .gap .container .room-content .content-gap .earlybird-wrap .earlybird-btn .early-title {margin-top: 0;}
    #wrap #main #section2 .box .wrap .gap .container .room-content .content-gap .earlybird-wrap .earlybird-btn > span {display: block;}
    #wrap #main #section2 .box .wrap .gap .container .room-content .content-gap .earlybird-wrap .earlybird-btn > span > img {display: inline-block;width: 290px;height: 150px;}

    /* main section3 */
    #wrap #main #section3 {width: 100%;height:50.91960063vw;position: relative;}
    #wrap #main #section3 .box {width: 100%;height: 100%;margin: 0 auto;display:block;background: #fff;}
    #wrap #main #section3 .box .section3bg {width:100%;height: 100%;background: url(../img/bg_dining.jpg) no-repeat 5% 80%;display: block;position: relative;z-index: 1;top: 245px;left: 0;margin: 0 60px;width: 58.33vw;height: 42.16vw;}
    #wrap #main #section3 .box .wrap {width:100%;display:block;background: #fff;}
    #wrap #main #section3 .box .wrap .gap .container {width: 350px;}

    /* section3 dinning-content */
    #wrap #main #section3 .box .wrap .gap .container .dinning-content {position: absolute;z-index: 2;top: 0;left: 0;display: block;width: 100%;padding-top: 45px;width: 650px;background: #fff;}
    #wrap #main #section3 .box .wrap .gap .container .dinning-content .dinning-gap {height: 170px;}
    #wrap #main #section3 .box .wrap .gap .container .dinning-content .dinning-gap .dinning-box {display: block;height: 170px;padding-bottom: 30px;}
    #wrap #main #section3 .box .wrap .gap .container .dinning-content .dinning-gap .dinning-box h2 {display: block;margin-bottom: 15px;}
    #wrap #main #section3 .box .wrap .gap .container .dinning-content .dinning-gap .dinning-box h3 {font-size: 30px;line-height: 130%;margin: 0 0 8px 0;}
    #wrap #main #section3 .box .wrap .gap .container .dinning-content .dinning-gap .dinning-box .dinning {margin: 10px 0;}
    #wrap #main #section3 .box .wrap .gap .container .dinning-content .dinning-gap .dinning-box .dinning-btn {display: inline-block;margin-top: -60px;margin-left: 548px;}
    #wrap #main #section3 .box .wrap .gap .container .dinning-content .dinning-gap .dinning-box .dinning-btn .dinning-whitebtn {display: inline-block;background: url(../img/btn_view.png);width: 42px;height: 42px;position: relative;}
    #wrap #main #section3 .box .wrap .gap .container .dinning-content .dinning-gap .dinning-box .dinning-btn .dinning-blackbtn {display: none;background: url(../img/btn_view.png);width: 84px;height: 42px;position: absolute;z-index: 2;top: 0;left: -42px;}
    #wrap #main #section3 .box .wrap .gap .container .dinning-content .dinning-gap .dinning-box .dinning-btn .dinning-blackbtn.mouseon {display: inline-block;}

    #wrap #main #section3 .box .wrap .gap .container .dinning-content .dinning-gap .promotion-wrap {height: 294px;position: relative;padding-bottom: 30px;top: 182px;left: 58.33vw;margin-left: 5vw;}
    #wrap #main #section3 .box .wrap .gap .container .dinning-content .dinning-gap .promotion-wrap .promotion-btn .promotion-title {display: inline-block;font-size: 14px;border: 1px solid #000;padding: 7px 15px;margin-top: 0;text-transform: uppercase;}
    #wrap #main #section3 .box .wrap .gap .container .dinning-content .dinning-gap .promotion-wrap .promotion-btn .promotion-text {font-size: 20px;margin-top: 17px;line-height: 120%;text-transform: uppercase;}
    #wrap #main #section3 .box .wrap .gap .container .dinning-content .dinning-gap .promotion-wrap .promotion-btn .promotion-date {display: block;font-size: 15px;color: #666;line-height: 120%;margin: 8px 0 20px 0;}
    #wrap #main #section3 .box .wrap .gap .container .dinning-content .dinning-gap .promotion-wrap .promotion-btn > span {display: block;}
    #wrap #main #section3 .box .wrap .gap .container .dinning-content .dinning-gap .promotion-wrap .promotion-btn > span > img {display: inline-block;width: 290px;height: 150px;}
    
    /* main section4 */
    #wrap #main #section4 {width: 100%;}
    #wrap #main #section4 .wrap {height: 723px;display: table-cell;}
    #wrap #main #section4 .wrap .gap {width: 1400px;margin: 0 60px;}
    #wrap #main #section4 .wrap .gap .container {width: 100%;padding-top: 45px;}
    #wrap #main #section4 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide {float: left;position: relative;width: 700px;height: 550px;background: url(../img/img_facility01_01.jpg) no-repeat 50% 50%;background-size: cover;transition: all .4s ease-out;}
    #wrap #main #section4 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide0 {background-image: url(../img/img_facility01_01.jpg);width: 25%;}
    #wrap #main #section4 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide1 {background-image: url(../img/img_facility01_02.jpg);width: 25%;}
    #wrap #main #section4 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide2 {background-image: url(../img/img_facility01_03.jpg);width: 25%;}

    #wrap #main #section4 .wrap .gap .container .facility-gap {width: 100%;}
    #wrap #main #section4 .wrap .gap .container .facility-gap .facility-textbox {margin-bottom: 30px;position: relative;}
    #wrap #main #section4 .wrap .gap .container .facility-gap .facility-textbox h2 {display: block;margin-bottom: 15px;}
    #wrap #main #section4 .wrap .gap .container .facility-gap .facility-textbox h3 {font-size: 30px;line-height: 130%;margin: 0 0 8px 0;}
    #wrap #main #section4 .wrap .gap .container .facility-gap .facility-textbox p {display: block;margin: 10px 0;}
    #wrap #main #section4 .wrap .gap .container .facility-gap .facility-textbox .facility-btn {position: absolute;bottom: 0;left: 300px;}


    /* main section5 */
    #wrap #main #section5 .wrap .gap {width: 93vw;height: 629px;margin: 0 auto;}
    #wrap #main #section5 .wrap .gap .container {width: 100%;height: 203px;}
    #wrap #main #section5 .wrap .gap .container .activity-box {position: absolute;z-index: 2;top: 0;left: 0;display: block;width: 100%;padding-top: 45px;margin-left: 60px;}
    #wrap #main #section5 .wrap .gap .container .activity-box h3 {font-size: 30px;line-height: 130%;margin: 0 0 8px 0;}
    #wrap #main #section5 .wrap .gap .container .activity-box p {margin: 10px 0;}
    #wrap #main #section5 .wrap .gap .container .activity-box .activity-btn {position: absolute;top: 130px;left: 370px;}


    /* main section6 */
    #wrap #main #section6 .wrap .gap {width: 93.33vw;}
    #wrap #main #section6 .wrap .gap .container .membership-wrap .membership-left {width: 43vw;height: 280px;}
    #wrap #main #section6 .wrap .gap .container .membership-wrap .membership-left h3 {font-size: 30px;line-height: 130%;margin: 80px 0 6px 0;}
    #wrap #main #section6 .wrap .gap .container .membership-wrap .membership-left .membership {display: block;font-size: 14px;color: #ba998c;line-height: 180%;letter-spacing: 1px;margin:10px 0 10px 0;}
    #wrap #main #section6 .wrap .gap .container .membership-wrap .membership-left p {display: block;font-size: 17px;margin: 10px 0;}

    /* main section7 */
    #wrap #main #section7 .wrap .gap {width: 93.33vw;}
    #wrap #main #section7 .wrap .gap .container h3 {font-size: 30px;width: 600px;margin: 0 auto;}
    #wrap #main #section7 .wrap .gap .container p {font-size: 17px;}

    /* footer */
    #wrap #footer {position: relative;z-index: 2;top: 0;left: 0;background: #fff;}
    #wrap #footer.addView {top: 0;position: relative;}
    #wrap #footer .wrap {width: 100%;height: 513px;}
    #wrap #footer .wrap .gap {width: 1400px;margin: 0 auto;}
    #wrap #footer .wrap .gap .container {padding-top: 40px;}
    #wrap #footer .wrap .gap .container .hotels-wrap {width: 100%;display: none;}
    #wrap #footer .wrap .gap .container .hotels-wrap .hotels {float: left;height: 38px;background: url(../img/img_logo_hotel01.gif) no-repeat 50% 50%;margin: 0 27px;}
    #wrap #footer .wrap .gap .container .hotels-wrap .hotel0 {background-image: url(../img/logo_josunpalace.png);width: 70px;}
    #wrap #footer .wrap .gap .container .hotels-wrap .hotel1 {background-image: url(../img/logo_wchosunseoul.png);width: 160px;}
    #wrap #footer .wrap .gap .container .hotels-wrap .hotel2 {background-image: url(../img/logo_wchosunbusan.png);width: 160px;}
    #wrap #footer .wrap .gap .container .hotels-wrap .hotel3 {background-image: url(../img/logo_grandjosun.png);width: 70px;}
    #wrap #footer .wrap .gap .container .hotels-wrap .hotel4 {background-image: url(../img/logo_grandjosun02.png);width: 70px;}
    #wrap #footer .wrap .gap .container .hotels-wrap .hotel5 {background-image: url(../img/logo_lescape.png);width: 80px;}
    #wrap #footer .wrap .gap .container .hotels-wrap .hotel6 {background-image: url(../img/logo_gravity.png);width: 90px;}
    #wrap #footer .wrap .gap .container .hotels-wrap .hotel7 {background-image: url(../img/logo_fourpoints.png);width: 105px;}
    #wrap #footer .wrap .gap .container .hotels-wrap .hotel8 {background-image: url(../img/logo_fourpoints02.png);width: 105px;}
    #wrap #footer .wrap .gap .container .hotels-wrap .hotels a {display: block;width: auto;height: 38px;}

    #wrap #footer .wrap .gap .container .footer-box {position: relative;padding-top: 30px;margin-left: 30px;}
    #wrap #footer .wrap .gap .container .footer-box .footer-logo-wrap {float: left;width: 172px;margin-right: 0;}
    #wrap #footer .wrap .gap .container .footer-box .footer-logo-wrap .footer-logo {font-size: 20px;font-family: 'Playfair Display';text-transform: uppercase;line-height: 120%;color: #000;letter-spacing: 5px;}


    #wrap #footer .wrap .gap .container .footer-box .hotelinfo-wrap {float: none;}
    #wrap #footer .wrap .gap .container .footer-box .hotelinfo-wrap .info {width: 100%;float: left;}
    #wrap #footer .wrap .gap .container .footer-box .hotelinfo-wrap .info li {float: none;margin-right: 30px;margin: 20px 0;}
    #wrap #footer .wrap .gap .container .footer-box .hotelinfo-wrap .info li a {font-size: 15px;color: #000;font-weight: lighter;}
    #wrap #footer .wrap .gap .container .footer-box .hotelinfo-wrap .info li:nth-child(5) a {color: #989442;}

    #wrap #footer .wrap .gap .container .footer-box .hotelinfo-wrap #address {position: absolute;top: 15px;left: 200px;font-size: 14px;margin-top: 25px;color: #000;opacity: 1;}
    #wrap #footer .wrap .gap .container .footer-box .hotelinfo-wrap #address span {display: inline-block;margin-right: 15px;}
    #wrap #footer .wrap .gap .container .footer-box .hotelinfo-wrap #address p {width: 100%;}
    #wrap #footer .wrap .gap .container .footer-box .hotelinfo-wrap #address .copyright {width: 100%;position: absolute; bottom: -320px;left: -200px;width: 350px;}

    #wrap #footer .wrap .gap .container .footer-box .hotelinfo-wrap .familysite {position: absolute;top: -40px;left: -40px;margin-top: 0;width: 100%;height: 40px;padding: 0 30px;border-bottom: 1px solid #000;}
    #wrap #footer .wrap .gap .container .footer-box .hotelinfo-wrap .familysite .familysite-btn {color: #000;border-bottom: none;padding: 4px 0;}
    #wrap #footer .wrap .gap .container .footer-box .hotelinfo-wrap .familysite .familysite-btn i {display: none;}
    #wrap #footer .wrap .gap .container .footer-box .hotelinfo-wrap .familysite .familysite-btn i.addView {transform: rotate(225deg);top: 10px;}
    #wrap #footer .wrap .gap .container .footer-box .hotelinfo-wrap .familysite .familylist-wrap {position: absolute;top: -612px;left: 0;}
    #wrap #footer .wrap .gap .container .footer-box .hotelinfo-wrap .familysite .familylist-wrap .family-list {display: none;width: 230px;height: 576px;border: 1px solid #4d4d4d;background: #000;padding: 12px 0;}
    #wrap #footer .wrap .gap .container .footer-box .hotelinfo-wrap .familysite .familylist-wrap .family-list.addView {display: block;}
    #wrap #footer .wrap .gap .container .footer-box .hotelinfo-wrap .familysite .familylist-wrap .family-list li {width: 100%;}
    #wrap #footer .wrap .gap .container .footer-box .hotelinfo-wrap .familysite .familylist-wrap .family-list li a {display: block;font-size: 12px;font-weight: lighter;color: #000;padding: 10px 16px;}

}

@media all and (max-width:980px){

}