@charset "utf-8";

/* Skip Menu */
#skip {z-index: 10;position: fixed;top: 0;left: 0;width: 100%;}
#skip a {display: block;width: 120px;line-height: 0;font-size: 0;}
#skip a:focus {line-height: 30px;font-size: 20px;background: #fff;}

/* Wrap */
#wrap {position: relative;z-index: 1;}

/* Header */
#wrap #header {width: 100%;height: 50px;background: #000;position: absolute;top: 0;left: 0;z-index: 3;}
#wrap #header .wrap {width: 100%;}
#wrap #header .wrap .gap {padding: 0 50px}
#wrap #header .wrap .gap .container {width: 100%;}

#wrap #header .wrap .gap .container .header-box {width: 100%;}
#wrap #header .wrap .gap .container .header-box .left-box {float: left;height: 21px;padding: 14.5px 0;}
#wrap #header .wrap .gap .container .header-box .left-box > span {display: inline-block;}
#wrap #header .wrap .gap .container .header-box .left-box > span .new-hotel-tap {display: inline-block;font-size: 12px;color: #bbb;line-height: 180%;width: 170px;letter-spacing: .5px;}

#wrap #header .wrap .gap .container .header-box .left-box > span .find-hotel {display: inline-block;font-size: 12px;color: #bbb;line-height: 180%;margin-left: 20px;font-weight: 300;}
#wrap #header .wrap .gap .container .header-box .left-box > span .find-hotel .find-hotel-icon {margin-left: 5px;margin-top: -4px;}

#wrap #header .wrap .gap .container .header-box .left-box > span .lang-KR {display: inline-block;font-size: 14px;color: #bbb;line-height: 150%;width: 55px;text-align: right;}
#wrap #header .wrap .gap .container .header-box .left-box > span .lang-KR .lang-change-icon {margin-top: -2px;margin-left: 15px;}
#wrap #header .wrap .gap .container .header-box .left-box > span .lang-EN {display: none;font-size: 14px;color: #bbb;line-height: 150%;width: 36px;text-align: center;padding: 0 8px;}


#wrap #header .wrap .gap .container .header-box .right-box {float: right;width: auto;height: 21px;padding: 14.5px 0;}
#wrap #header .wrap .gap .container .header-box .right-box ul {width: 100%;}
#wrap #header .wrap .gap .container .header-box .right-box ul li {float: left;width: auto;text-align: right;}
#wrap #header .wrap .gap .container .header-box .right-box ul li a {display: inline-block;font-size: 12px;line-height: 180%;color: #bbb;margin: 0 12px;}
#wrap #header .wrap .gap .container .header-box .right-box ul li span {display: inline-block;width: 1px;height: 10px;background: #666;position: absolute;top: 40%;}

/* header logo */
#wrap #header .wrap .gap .container #logo {position: absolute;z-index: 2;top: 50px;left: 0;width: 118px;padding: 30px 90px 30px 50px;}
#wrap #header .wrap .gap .container #logo h1 {width: 100%;}
#wrap #header .wrap .gap .container #logo h1 a {font-size: 20px;color: #fff;}

/* Nav */
/* gnb lnb snb fnb 참고 https://blog.naver.com/mgetmput/221637311570 */
#wrap #header .wrap .gap .container #nav {width: 100%;height: 100px;position: absolute;top: 50px;left: 0;}
#wrap #header .wrap .gap .container #nav.mouseon {background: rgba(255, 255, 255, 1);}
#wrap #header .wrap .gap .container #nav .nav-gap {margin: 0 50px;}

#wrap #header .wrap .gap .container #nav .nav-gap .gnb-wrap {height: 100px;text-align: left;padding-left: 118px;}
#wrap #header .wrap .gap .container #nav .nav-gap .gnb-wrap > ul {width: 1400px}
#wrap #header .wrap .gap .container #nav .nav-gap .gnb-wrap > ul > li {display: inline-block;width: auto;}
#wrap #header .wrap .gap .container #nav .nav-gap .gnb-wrap > ul > li .gnb-btn {display: inline-block;padding: 36px 20px 3px 20px;}
#wrap #header .wrap .gap .container #nav .nav-gap .gnb-wrap > ul > li .gnb-btn span {display: inline-block;color: #fff;font-size: 16.5px;font-weight: 600;line-height: 150%;position: relative;}
#wrap #header .wrap .gap .container #nav.mouseon .nav-gap .gnb-wrap > ul > li .gnb-btn span {color: #000;}
#wrap #header .wrap .gap .container #nav .nav-gap .gnb-wrap > ul > li .gnb-title-btn {margin: 0 20px 0 80px;}
#wrap #header .wrap .gap .container #nav .nav-gap .gnb-wrap > ul > li .gnb-title-btn .title-btn-img {display: inline-block;position: absolute;;top: 6px;right: -25px;width: 16px;height: 10px;}
#wrap #header .wrap .gap .container #nav .nav-gap .gnb-wrap > ul > li .gnb-btn span .gnb-line {display: inline-block;width: 100%;height: 2px;position: absolute;bottom: -1px;left: 0;}

#wrap #header .wrap .gap .container #nav .nav-gap .gnb-wrap > ul > li:hover .gnb-btn span {color: #ba998c;}
#wrap #header .wrap .gap .container #nav .nav-gap .gnb-wrap > ul > li:hover .gnb-btn .gnb-line {border-bottom: 2px solid #ba998c;}
#wrap #header .wrap .gap .container #nav .nav-gap .gnb-wrap > ul > li:hover .gnb-title-btn .gnb-line {border-bottom: 0}

#wrap #header .wrap .gap .container #nav .nav-gap .gnb-wrap > ul > li .gnb-vertical {display: inline-block;margin: 30px 30px 0 30px;width: 1px;height: 12px;background: #fff;}
#wrap #header .wrap .gap .container #nav.mouseon .nav-gap .gnb-wrap > ul > li .gnb-vertical {background: #000;}


/* Lnb */
#wrap #header .wrap .gap .container #nav .nav-gap .gnb-wrap > ul > li .lnb-wrap {display: none;position: absolute;top: 100px;left: 0;background: #fff;width: 100%;padding-bottom: 50px;}
#wrap #header .wrap .gap .container #nav .nav-gap .gnb-wrap > ul > li .lnb-wrap .lnb-gap {margin-left: 268px;text-align: left;}

#wrap #header .wrap .gap .container #nav .nav-gap .gnb-wrap > ul > li .lnb-wrap .lnb-gap .lnb-title {float: left;}
#wrap #header .wrap .gap .container #nav .nav-gap .gnb-wrap > ul > li .lnb-wrap .lnb-gap .lnb-title .lnb-title-btn {display: inline-block;font-size: 24px;}
#wrap #header .wrap .gap .container #nav .nav-gap .gnb-wrap > ul > li .lnb-wrap .lnb-gap .lnb-title i {display: inline-block;font-size: 14px;border-bottom: 1px solid #000;padding-bottom: 5px;padding-top: 10px;}

#wrap #header .wrap .gap .container #nav .nav-gap .gnb-wrap > ul > li .lnb-wrap .lnb-gap > ul {float: left;margin-left: 81px;}
#wrap #header .wrap .gap .container #nav .nav-gap .gnb-wrap > ul > li .lnb-wrap .lnb-gap > ul > li {float: left;margin: 0 75px;}
#wrap #header .wrap .gap .container #nav .nav-gap .gnb-wrap > ul > li .lnb-wrap .lnb-gap > ul > li .lnb-btn {display: inline-block;font-size: 15px;line-height: 150%;padding-bottom: 12px;}
#wrap #header .wrap .gap .container #nav .nav-gap .gnb-wrap > ul > li .lnb-wrap .lnb-gap > ul > li .lnb-btn:hover {text-decoration: underline;}

#wrap #header .wrap .gap .container #nav .nav-gap .gnb-wrap > ul > li .lnb-wrap .lnb-gap > ul > li > ul {width: 100%;}
#wrap #header .wrap .gap .container #nav .nav-gap .gnb-wrap > ul > li .lnb-wrap .lnb-gap > ul > li > ul > li {width: 100%;}
#wrap #header .wrap .gap .container #nav .nav-gap .gnb-wrap > ul > li .lnb-wrap .lnb-gap > ul > li > ul > li .lnb-btn-sub {display: inline-block;font-size: 15px;font-weight: lighter;line-height: 150%;padding-bottom: 8px;}
#wrap #header .wrap .gap .container #nav .nav-gap .gnb-wrap > ul > li .lnb-wrap .lnb-gap > ul > li > ul > li .lnb-btn-sub:hover {text-decoration: underline;}


/* header side-box */
#wrap #header .side-btn-box {z-index: 5;position: fixed;top: 70px;right: 50px;width: 60px;height: 60px;background: #b29d95;}
#wrap #header .side-btn-box .side-btn {display: block;width: 100%;height: 100%;text-align: center;position: relative;}
#wrap #header .side-btn-box .side-btn .side-btn-img {display: inline-block;line-height: 58px;}
#wrap #header .side-btn-box .side-btn .side-btn-text {display: none;width: 100%;height: 140px;background: #b29d95;position: absolute;top: 60px;left: 0;font-size: 15px;color: #fff;writing-mode: vertical-rl;}
#wrap #header .side-btn-box .side-btn .side-btn-text.mouseon {display: inline-block;width: 100%;height: 140px;background: #b29d95;}


/* Main */
#wrap #main {width: 100%;height: 969px;position: relative;z-index: 2;}

/* main section1 */
#wrap #main #section1 {width: 100%;}
#wrap #main #section1 .wrap {width: 100%;}
#wrap #main #section1 .wrap .gap {width: 100%;}
#wrap #main #section1 .wrap .gap .container {width: 100%;}

/* main background slide */
#wrap #main #section1 .wrap .gap .container .mainBg-slide-container {width: 100%;position: relative;}
#wrap #main #section1 .wrap .gap .container .mainBg-slide-container .mainBg-slide-view {width: 100%;position: relative;z-index: 1;overflow: hidden;}
#wrap #main #section1 .wrap .gap .container .mainBg-slide-container .mainBg-slide-view .mainBg-slide-wrap {width: 500%;left: 0;margin-left: -100%;position: relative;}
#wrap #main #section1 .wrap .gap .container .mainBg-slide-container .mainBg-slide-view .mainBg-slide-wrap .mainBg-slide {float: left;position: relative;background: url(../img/01_Main-Top.jpg) no-repeat 50% 50%;background-size: cover;}
#wrap #main #section1 .wrap .gap .container .mainBg-slide-container .mainBg-slide-view .mainBg-slide-wrap .mainBg-slide0 {background-image: url(../img/01_Main-Top.jpg);}
#wrap #main #section1 .wrap .gap .container .mainBg-slide-container .mainBg-slide-view .mainBg-slide-wrap .mainBg-slide1 {background-image: url(../img/01_Main-Top.jpg);}
#wrap #main #section1 .wrap .gap .container .mainBg-slide-container .mainBg-slide-view .mainBg-slide-wrap .mainBg-slide2 {background-image: url(../img/01_Main-Top.jpg);}

/* main text */
#wrap #main #section1 .wrap .gap .container .mainBg-slide-container .mainBg-slide-view .main-text-wrap {position: absolute;z-index: 2;top: 35%;left: 13.5%;opacity: 1;transition: all 1s ease-in-out;animation: maintext 1.5s;}
#wrap #main #section1 .wrap .gap .container .mainBg-slide-container .mainBg-slide-view .main-text-wrap a {display: block;}
#wrap #main #section1 .wrap .gap .container .mainBg-slide-container .mainBg-slide-view .main-text-wrap a .main-text1 {display: block;font-size: 30px;color: #fff;line-height: 110%;text-transform: uppercase;font-family: Arial;}
#wrap #main #section1 .wrap .gap .container .mainBg-slide-container .mainBg-slide-view .main-text-wrap a .main-text1 i {display: inline-block;font-size: 14px;line-height: 30px;color: #fff;margin-left: 20px;padding: 0 12px;border: 1px solid #fff;text-transform: uppercase;height: 30px;margin-bottom: 3px;}
#wrap #main #section1 .wrap .gap .container .mainBg-slide-container .mainBg-slide-view .main-text-wrap a .main-text2 {display: block;margin: 5px 0 15px 0;}
#wrap #main #section1 .wrap .gap .container .mainBg-slide-container .mainBg-slide-view .main-text-wrap a .main-text2 span {display: inline-block;font-size: 68px;color: #fff;font-family: 'Playfair Display';font-weight: 400;text-transform: uppercase;}
#wrap #main #section1 .wrap .gap .container .mainBg-slide-container .mainBg-slide-view .main-text-wrap a .main-text2 span:last-child {margin-left: 15px;}
#wrap #main #section1 .wrap .gap .container .mainBg-slide-container .mainBg-slide-view .main-text-wrap a .main-text2 span::first-letter {font-size: 110%;}
#wrap #main #section1 .wrap .gap .container .mainBg-slide-container .mainBg-slide-view .main-text-wrap a .main-text3 {display: block;font-size: 28px;color: #fff;line-height: 180%;font-family: Arial;font-weight: lighter;}

@keyframes maintext {
    0% {opacity: 0;top: 42%}
    100% {opacity: 1;top: 35%;}
}

/* main background slide button */
#wrap #main #section1 .wrap .gap .container .mainBg-slide-container .mainBg-slide-view .mainBg-Btn-wrap {position: absolute;z-index: 2;top: 44%;left: 84%;height: 30px;line-height: 25px;width: 60px;text-align: center;}
#wrap #main #section1 .wrap .gap .container .mainBg-slide-container .mainBg-slide-view .mainBg-Btn-wrap .mainBg-prev {display: inline-block;}
#wrap #main #section1 .wrap .gap .container .mainBg-slide-container .mainBg-slide-view .mainBg-Btn-wrap .mainBg-prev .prev-btn {width: auto;}
#wrap #main #section1 .wrap .gap .container .mainBg-slide-container .mainBg-slide-view .mainBg-Btn-wrap .mainBg-prev .prev-btn i {display: inline-block;border-top: 1px solid #fff;border-left: 1px solid #fff;width: 10px;height: 10px;transform: rotate(-45deg);}

#wrap #main #section1 .wrap .gap .container .mainBg-slide-container .mainBg-slide-view .mainBg-Btn-wrap .mainBg-next {display: inline-block;}
#wrap #main #section1 .wrap .gap .container .mainBg-slide-container .mainBg-slide-view .mainBg-Btn-wrap .mainBg-next .next-btn {display: inline-block;}
#wrap #main #section1 .wrap .gap .container .mainBg-slide-container .mainBg-slide-view .mainBg-Btn-wrap .mainBg-next .next-btn i {display: inline-block;border-top: 1px solid #fff;border-right: 1px solid #fff;width: 10px;height: 10px;transform: rotate(45deg);}

#wrap #main #section1 .wrap .gap .container .mainBg-slide-container .mainBg-slide-view .mainBg-Btn-wrap .mainBg-stop-start {display: inline-block;width: 12px;position: relative;overflow: hidden;}
#wrap #main #section1 .wrap .gap .container .mainBg-slide-container .mainBg-slide-view .mainBg-Btn-wrap .mainBg-stop-start .stop-btn {width: auto;margin-left: -12px;}
#wrap #main #section1 .wrap .gap .container .mainBg-slide-container .mainBg-slide-view .mainBg-Btn-wrap .mainBg-stop-start .stop-btn i {display: inline-block;background: url(../img/btn_auto2.png) no-repeat;width: 24px;height: 21px;}
#wrap #main #section1 .wrap .gap .container .mainBg-slide-container .mainBg-slide-view .mainBg-Btn-wrap .mainBg-stop-start .stop-btn.mouseon i {display: none;background: url(../img/btn_auto2.png) no-repeat;width: 24px;height: 21px;}

#wrap #main #section1 .wrap .gap .container .mainBg-slide-container .mainBg-slide-view .mainBg-Btn-wrap .mainBg-stop-start .start-btn {width: auto;position: absolute;top: 2px;left: 0;}
#wrap #main #section1 .wrap .gap .container .mainBg-slide-container .mainBg-slide-view .mainBg-Btn-wrap .mainBg-stop-start .start-btn i {display: none;background: url(../img/btn_auto2.png) no-repeat;width: 24px;height: 21px;}
#wrap #main #section1 .wrap .gap .container .mainBg-slide-container .mainBg-slide-view .mainBg-Btn-wrap .mainBg-stop-start .start-btn.mouseon i {display: inline-block;background: url(../img/btn_auto2.png) no-repeat;width: 24px;height: 21px;}


/* main section2 */
#wrap #main #section2 {width: 100%;height: 100%;position: relative;}
#wrap #main #section2 .section2bg {width: 50%;height: 100%;background: #f0eeed;}
#wrap #main #section2 .wrap {width: 100%;height: 824px;position: absolute;top: 0;left: 0;padding-top: 130px;} /* padding-top: 145px; */
#wrap #main #section2 .wrap .gap {margin-left: 250px;}
#wrap #main #section2 .wrap .gap .container {width: 100%;height: 100%;position: relative;}

/* section2 slide */
#wrap #main #section2 .wrap .gap .container .slide-container {width: 1050px;position: relative;float: left;opacity: 1;animation: slidecontent 2s ease-in-out;}
#wrap #main #section2 .wrap .gap .container .slide-container .slide-view {width: 100%;position: relative;z-index: 1;overflow: hidden;}
#wrap #main #section2 .wrap .gap .container .slide-container .slide-view .slide-wrap {position: relative;left: 0;width: calc(1050px*15);margin-left: calc(-1050px*5);}
#wrap #main #section2 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide {position: relative;float: left;width: 1050px;height: 760px;left: 0;position: relative;background: url(../img/img_main02_01.jpg) no-repeat 50% 50%;background-size: cover;}
#wrap #main #section2 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide0 {background-image: url(../img/img_main02_01.jpg);}
#wrap #main #section2 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide1 {background-image: url(../img/img_main02_02.jpg);}
#wrap #main #section2 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide2 {background-image: url(../img/img_main02_03.jpg);}
#wrap #main #section2 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide3 {background-image: url(../img/img_main02_04.jpg);}
#wrap #main #section2 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide4 {background-image: url(../img/img_main02_05.jpg);}

@keyframes slidecontent {
    0% {opacity: 0;left: -100px;}
    100% {opacity: 1;left: 0;}
}

/* section2 slide button */
#wrap #main #section2 .wrap .gap .container .slide-container .slide-view .slide-Btn-wrap {position: absolute;z-index: 2;bottom: 40px;right: 40px;height: 30px;line-height: 25px;width: 60px;text-align: center;}
#wrap #main #section2 .wrap .gap .container .slide-container .slide-view .slide-Btn-wrap .slide-prev {display: inline-block;}
#wrap #main #section2 .wrap .gap .container .slide-container .slide-view .slide-Btn-wrap .slide-prev .prev-btn {width: auto;}
#wrap #main #section2 .wrap .gap .container .slide-container .slide-view .slide-Btn-wrap .slide-prev .prev-btn i {display: inline-block;border-top: 1px solid #fff;border-left: 1px solid #fff;width: 10px;height: 10px;transform: rotate(-45deg);}

#wrap #main #section2 .wrap .gap .container .slide-container .slide-view .slide-Btn-wrap .slide-next {display: inline-block;}
#wrap #main #section2 .wrap .gap .container .slide-container .slide-view .slide-Btn-wrap .slide-next .next-btn {display: inline-block;}
#wrap #main #section2 .wrap .gap .container .slide-container .slide-view .slide-Btn-wrap .slide-next .next-btn i {display: inline-block;border-top: 1px solid #fff;border-right: 1px solid #fff;width: 10px;height: 10px;transform: rotate(45deg);}

#wrap #main #section2 .wrap .gap .container .slide-container .slide-view .slide-Btn-wrap .slide-stop-start {display: inline-block;width: 12px;position: relative;overflow: hidden;}
#wrap #main #section2 .wrap .gap .container .slide-container .slide-view .slide-Btn-wrap .slide-stop-start .stop-btn {width: auto;margin-left: -12px;}
#wrap #main #section2 .wrap .gap .container .slide-container .slide-view .slide-Btn-wrap .slide-stop-start .stop-btn i {display: inline-block;background: url(../img/btn_auto2.png) no-repeat;width: 24px;height: 21px;}
#wrap #main #section2 .wrap .gap .container .slide-container .slide-view .slide-Btn-wrap .slide-stop-start .stop-btn.mouseon i {display: none;background: url(../img/btn_auto2.png) no-repeat;width: 24px;height: 21px;}

#wrap #main #section2 .wrap .gap .container .slide-container .mslide-view .slide-Btn-wrap .slide-stop-start .start-btn {width: auto;position: absolute;top: 2px;left: 0;}
#wrap #main #section2 .wrap .gap .container .slide-container .mslide-view .slide-Btn-wrap .slide-stop-start .start-btn i {display: none;background: url(../img/btn_auto2.png) no-repeat;width: 24px;height: 21px;}
#wrap #main #section2 .wrap .gap .container .slide-container .mslide-view .slide-Btn-wrap .slide-stop-start .start-btn.mouseon i {display: inline-block;background: url(../img/btn_auto2.png) no-repeat;width: 24px;height: 21px;}


/* section2 room-content */
#wrap #main #section2 .wrap .gap .container .room-content {float: left;width: 350px;opacity: 1;animation: roomcontent 2s ease-in-out;}
#wrap #main #section2 .wrap .gap .container .room-content .content-gap {margin-left: 60px;}
#wrap #main #section2 .wrap .gap .container .room-content .content-gap .room-box {height: 400px;overflow: hidden;padding-bottom: 90px;}
#wrap #main #section2 .wrap .gap .container .room-content .content-gap .room-box h3 {font-size: 35px;font-family: 'Playfair Display';text-transform: uppercase;margin: 45px 0 8px 0;line-height: 150%}
#wrap #main #section2 .wrap .gap .container .room-content .content-gap .room-box h3::first-letter {font-size: 120%;}
#wrap #main #section2 .wrap .gap .container .room-content .content-gap .room-box p {font-size: 18px;font-weight: lighter;line-height: 180%;}
#wrap #main #section2 .wrap .gap .container .room-content .content-gap .room-box .rooms {display: inline-block;font-size: 14px;color: #ba998c;line-height: 180%;margin: 20px 0;letter-spacing: 1px;font-weight: 600;}
#wrap #main #section2 .wrap .gap .container .room-content .content-gap .room-box .room-btn {display: block;position: relative;margin-top: 15px;}
#wrap #main #section2 .wrap .gap .container .room-content .content-gap .room-box .room-btn .room-whitebtn {display: inline-block;background: url(../img/btn_view.png);width: 42px;height: 42px;position: relative;}
#wrap #main #section2 .wrap .gap .container .room-content .content-gap .room-box .room-btn .room-blackbtn {display: none;background: url(../img/btn_view.png);width: 84px;height: 42px;position: absolute;z-index: 2;top: 0;left: -42px;}
#wrap #main #section2 .wrap .gap .container .room-content .content-gap .room-box .room-btn .room-blackbtn.mouseon {display: inline-block;}

#wrap #main #section2 .wrap .gap .container .room-content .content-gap .earlybird-wrap {height: 270px;}
#wrap #main #section2 .wrap .gap .container .room-content .content-gap .earlybird-wrap .earlybird-btn .early-title {display: inline-block;font-size: 14px;border: 1px solid #000;padding: 7px 15px;margin-top: 3px;text-transform: uppercase;}
#wrap #main #section2 .wrap .gap .container .room-content .content-gap .earlybird-wrap .earlybird-btn .early-text {font-size: 20px;margin-top: 17px;line-height: 120%;;text-transform: uppercase;}
#wrap #main #section2 .wrap .gap .container .room-content .content-gap .earlybird-wrap .earlybird-btn .early-date {display: block;font-size: 15px;color: #666;line-height: 120%;margin: 8px 0 20px 0;}
#wrap #main #section2 .wrap .gap .container .room-content .content-gap .earlybird-wrap .earlybird-btn > span {display: block;}
#wrap #main #section2 .wrap .gap .container .room-content .content-gap .earlybird-wrap .earlybird-btn > span > img {display: inline-block;width: 290px;height: 150px;}

@keyframes roomcontent {
    0% {opacity: 0;margin-left: 100px;}
    100% {opacity: 1;margin-left: 0;}
}


/* main section3 */
#wrap #main #section3 {width: 100%;height: 100%;position: relative;}
#wrap #main #section3 .section3bg {width: 1300px;height: 100%;background: url(../img/bg_dining.jpg) no-repeat;overflow: hidden;}
#wrap #main #section3 .wrap {width: 350px;height: 804px;position: absolute;top: 0;left: 1300px;padding-top: 100px;}
#wrap #main #section3 .wrap .gap {width: 100%;height: 100%;}
#wrap #main #section3 .wrap .gap .container {width: 100%;height: 100%;}

/* section3 dinning-content */
#wrap #main #section3 .wrap .gap .container .dinning-content {width: 100%;opacity: 1;animation: dinningcontent 2s ease-in-out;}
#wrap #main #section3 .wrap .gap .container .dinning-content .dinning-gap {margin-left: 60px;}
#wrap #main #section3 .wrap .gap .container .dinning-content .dinning-gap .dinning-box {height: 400px;overflow: hidden;padding-bottom: 95px;} /* padding-bottom: 110px; */
#wrap #main #section3 .wrap .gap .container .dinning-content .dinning-gap .dinning-box h3 {font-size: 35px;font-family: 'Playfair Display';text-transform: uppercase;margin: 45px 0 8px 0;line-height: 150%}
#wrap #main #section3 .wrap .gap .container .dinning-content .dinning-gap .dinning-box h3::first-letter {font-size: 120%;}
#wrap #main #section3 .wrap .gap .container .dinning-content .dinning-gap .dinning-box p {font-size: 18px;font-weight: lighter;line-height: 180%;}
#wrap #main #section3 .wrap .gap .container .dinning-content .dinning-gap .dinning-box .dinning {display: inline-block;font-size: 14px;color: #ba998c;line-height: 180%;margin: 20px 0;letter-spacing: 1px;font-weight: 600;}
#wrap #main #section3 .wrap .gap .container .dinning-content .dinning-gap .dinning-box .dinning-btn {display: block;position: relative;margin-top: 15px;}
#wrap #main #section3 .wrap .gap .container .dinning-content .dinning-gap .dinning-box .dinning-btn .dinning-whitebtn {display: inline-block;background: url(../img/btn_view.png);width: 42px;height: 42px;position: relative;}
#wrap #main #section3 .wrap .gap .container .dinning-content .dinning-gap .dinning-box .dinning-btn .dinning-blackbtn {display: none;background: url(../img/btn_view.png);width: 84px;height: 42px;position: absolute;z-index: 2;top: 0;left: -42px;}
#wrap #main #section3 .wrap .gap .container .dinning-content .dinning-gap .dinning-box .dinning-btn .dinning-blackbtn.mouseon {display: inline-block;}

#wrap #main #section3 .wrap .gap .container .dinning-content .dinning-gap .promotion-wrap {height: 294px;}
#wrap #main #section3 .wrap .gap .container .dinning-content .dinning-gap .promotion-wrap .promotion-btn .promotion-title {display: inline-block;font-size: 14px;border: 1px solid #000;padding: 7px 15px;margin-top: 3px;text-transform: uppercase;}
#wrap #main #section3 .wrap .gap .container .dinning-content .dinning-gap .promotion-wrap .promotion-btn .promotion-text {font-size: 20px;margin-top: 17px;line-height: 120%;text-transform: uppercase;}
#wrap #main #section3 .wrap .gap .container .dinning-content .dinning-gap .promotion-wrap .promotion-btn .promotion-date {display: block;font-size: 15px;color: #666;line-height: 120%;margin: 8px 0 20px 0;}
#wrap #main #section3 .wrap .gap .container .dinning-content .dinning-gap .promotion-wrap .promotion-btn > span {display: block;}
#wrap #main #section3 .wrap .gap .container .dinning-content .dinning-gap .promotion-wrap .promotion-btn > span > img {display: inline-block;width: 290px;height: 150px;}

@keyframes dinningcontent {
    0% {opacity: 0;margin-left: 100px;}
    100% {opacity: 1;margin-left: 0;}
}


/* main section4 */
#wrap #main #section4 {width: 100%;padding: 150px 0 96px 0;}
#wrap #main #section4 .wrap {width: 1400px;height: 723px;margin: 0 auto;}
#wrap #main #section4 .wrap .gap {width: 100%;}
#wrap #main #section4 .wrap .gap .container {width: 100%;}
#wrap #main #section4 .wrap .gap .container .facility-gap {width: 100%;}
#wrap #main #section4 .wrap .gap .container .facility-gap .facility-textbox {margin-bottom: 30px;position: relative;}
#wrap #main #section4 .wrap .gap .container .facility-gap .facility-textbox h3 {display: inline-block;font-size: 35px;font-family: 'Playfair Display';text-transform: uppercase;line-height: 150%;}
#wrap #main #section4 .wrap .gap .container .facility-gap .facility-textbox p {display: inline-block;font-size: 14px;font-weight: 600;color: #ba998c;;line-height: 180%;margin-left: 20px;letter-spacing: 1px;}
#wrap #main #section4 .wrap .gap .container .facility-gap .facility-textbox .facility-btn {display: inline-block;position: absolute;bottom: 0;right: 0;}
#wrap #main #section4 .wrap .gap .container .facility-gap .facility-textbox .facility-btn .facility-whitebtn {display: inline-block;background: url(../img/btn_view.png);width: 42px;height: 42px;position: relative;}
#wrap #main #section4 .wrap .gap .container .facility-gap .facility-textbox .facility-btn .facility-blackbtn {display: none;background: url(../img/btn_view.png);width: 84px;height: 42px;position: absolute;z-index: 2;top: 0;left: -42px;}

#wrap #main #section4 .wrap .gap .container .slide-container {width: 1400px;position: relative;}
#wrap #main #section4 .wrap .gap .container .slide-container .slide-view {position: relative;}
#wrap #main #section4 .wrap .gap .container .slide-container .slide-view .slide-wrap {position: relative;}
#wrap #main #section4 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide {float: left;position: relative;width: 700px;height: 640px;background: url(../img/img_facility01_01.jpg) no-repeat 50% 50%;background-size: cover;}
#wrap #main #section4 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide0 {background-image: url(../img/img_facility01_01.jpg);width: 25%;}
#wrap #main #section4 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide1 {background-image: url(../img/img_facility01_02.jpg);width: 25%;}
#wrap #main #section4 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide2 {background-image: url(../img/img_facility01_03.jpg);width: 50%;}
#wrap #main #section4 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide-gap {position: absolute;bottom: 40px;right: 40px;}
#wrap #main #section4 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide-gap .slide-text {font-size: 18px;font-weight: 600;line-height: 180%;color: #fff;}


/* main section5 */
#wrap #main #section5 {width: 100%;height: 709px;background: url(../img/bg_activity.jpg) no-repeat 50% 50%;background-size: cover;padding: 130px 0;}
#wrap #main #section5 .wrap {width: 1400px;height: 203px;margin: 0 auto;}
#wrap #main #section5 .wrap .gap {width: 100%;height: 100%;}
#wrap #main #section5 .wrap .gap .container {width: 100%;height: 100%;}
#wrap #main #section5 .wrap .gap .container .activity-box {position: relative;width: 100%;height: 100%;}
#wrap #main #section5 .wrap .gap .container .activity-box h3 {font-size: 34px;font-family: 'Playfair Display';text-transform: uppercase;line-height: 150%;color: #fff;margin: 45px 0 8px 0;}
#wrap #main #section5 .wrap .gap .container .activity-box h3::first-letter {font-size: 110%;}
#wrap #main #section5 .wrap .gap .container .activity-box p {font-size: 18px;line-height: 180%;color: #fff;}
#wrap #main #section5 .wrap .gap .container .activity-box .activity {display: block;font-size: 14px;color: #fff;line-height: 180%;letter-spacing: 1px;font-weight: 600;margin-top: 8px;}
#wrap #main #section5 .wrap .gap .container .activity-box .activity-btn {display: inline-block;position: absolute;bottom: 0;left: 0;overflow: hidden;}
#wrap #main #section5 .wrap .gap .container .activity-box .activity-btn .activity-cleanbtn {display: inline-block;background: url(../img/btn_view.png);width: 126px;height: 42px;position: relative;left: -84px;}
#wrap #main #section5 .wrap .gap .container .activity-box .activity-btn .activity-whitebtn {display: none;background: url(../img/btn_view.png);width: 168px;height: 42px;position: absolute;z-index: 2;top: 0;left: -126px;}


/* main section6 */
#wrap #main #section6 {width: 100%;background: url(../img/bg_membership.jpg) no-repeat 50% 50%;background-size: cover;padding: 165px 0 194px 0;}
#wrap #main #section6 .wrap {width: 1400px;height: 610px;margin: 0 auto;background: #fff;}
#wrap #main #section6 .wrap .gap {width: 100%;height: 100%;}
#wrap #main #section6 .wrap .gap .container {width: 100%;height: 100%;}
#wrap #main #section6 .wrap .gap .container .membership-wrap {padding: 50px 60px 0 100px;}
#wrap #main #section6 .wrap .gap .container .membership-wrap .membership-left {float: left;width: 900px;height: 277px;}
#wrap #main #section6 .wrap .gap .container .membership-wrap .membership-left h3 {font-size: 34px;font-family: 'Playfair Display';text-transform: uppercase;line-height: 150%;margin: 80px 0 6px 0;}
#wrap #main #section6 .wrap .gap .container .membership-wrap .membership-left h3::first-letter {font-size: 110%;}
#wrap #main #section6 .wrap .gap .container .membership-wrap .membership-left .membership {display: block;font-size: 14px;color: #ba998c;line-height: 180%;letter-spacing: 1px;margin:10px 0 25px 0;}
#wrap #main #section6 .wrap .gap .container .membership-wrap .membership-left p {font-size: 18px;line-height: 180%;font-weight: lighter;}
#wrap #main #section6 .wrap .gap .container .membership-wrap .membership-left .membership-btn {display: inline-block;border: 1px solid #000;padding: 4px 30px;background: #000;color: #fff;margin-top: 50px;}
#wrap #main #section6 .wrap .gap .container .membership-wrap .membership-left .membership-btn span {font-size: 17px;line-height: 200%;}

#wrap #main #section6 .wrap .gap .container .membership-wrap .membership-right {float: right;width: 270px;height: 510px;}
#wrap #main #section6 .wrap .gap .container .membership-wrap .membership-right h4 {font-size: 18px;font-weight: 600;line-height: 140%;margin-bottom: 20px;}
#wrap #main #section6 .wrap .gap .container .membership-wrap .membership-right .members-btn {display: block;}
#wrap #main #section6 .wrap .gap .container .membership-wrap .membership-right .members-btn .membership-img {display: block;width: 270px;height: 410px;background: url(../img/members-only.jpg) no-repeat 50% 50%;}
#wrap #main #section6 .wrap .gap .container .membership-wrap .membership-right .members-btn .membership-name {display: block;font-size: 20px;line-height: 180%;}
#wrap #main #section6 .wrap .gap .container .membership-wrap .membership-right .members-btn .membership-date {display: block;font-size: 15px;color: #666;line-height: 140%;}


/* main section7 */
#wrap #main #section7 {width: 100%;background: url(../img/bg_wedding.jpg) no-repeat 50% 50%;background-size: cover;padding: 362px 0;}
#wrap #main #section7 .wrap {width: 1400px;height: 245px;margin: 0 auto;}
#wrap #main #section7 .wrap .gap {width: 100%;}
#wrap #main #section7 .wrap .gap .container {width: 100%;text-align: center;}
#wrap #main #section7 .wrap .gap .container h3 {font-size: 35px;font-family: 'Playfair Display';text-transform: uppercase;line-height: 150%;color: #fff;letter-spacing: 1px;}
#wrap #main #section7 .wrap .gap .container h3::first-letter {font-size: 110%;}
#wrap #main #section7 .wrap .gap .container p {font-size: 18px;line-height: 180%;font-weight: lighter;color: #fff;}
#wrap #main #section7 .wrap .gap .container .btn-wrap {display: inline-block;margin-top: 30px;}
#wrap #main #section7 .wrap .gap .container .btn-wrap .meeting-btn {display: inline-block;border: 1px solid #fff;padding: 4px 30px;color: #fff;margin-right: 5px;}
#wrap #main #section7 .wrap .gap .container .btn-wrap .meeting-btn i {font-size: 17px;line-height: 200%;}
#wrap #main #section7 .wrap .gap .container .btn-wrap .wedding-btn  {display: inline-block;border: 1px solid #fff;padding: 4px 30px;color: #fff;margin-left: 5px;}
#wrap #main #section7 .wrap .gap .container .btn-wrap .wedding-btn i {font-size: 17px;line-height: 200%;}



/* main indicator */
#wrap #main .main-indicator {width: 150px;height: 280px;left: 50px;position: fixed;z-index: 5;top: 35%;}
#wrap #main .main-indicator .indicator {height: 40px;border-left: 2px solid #ccc;}
#wrap #main .main-indicator .indicator a {display: inline-block;font-size: 13px;line-height: 40px;color: #ccc;margin-left: 15px;}

#wrap #main .main-indicator .indicator.mouseon {border-left: 2px solid rgba(255, 255, 255, .9);}

#wrap #main .main-indicator .indicator a.mouseon {color: rgba(255, 255, 255, 1);font-weight: 600;}
#wrap #main .main-indicator .indicator a:hover {color: rgba(255, 255, 255, 1);}

/* 인디게이터 제어 */
#wrap #main .main-indicator .indicator1 {display: block;}
/* #wrap #main .main-indicator .indicator2 {display: none;}
#wrap #main .main-indicator .indicator3 {display: none;}
#wrap #main .main-indicator .indicator4 {display: none;}
#wrap #main .main-indicator .indicator5 {display: none;}
#wrap #main .main-indicator .indicator6 {display: none;}
#wrap #main .main-indicator .indicator7 {display: none;} */

#wrap #main .main-indicator:hover .indicator {display: block;}



/* footer */
/* #wrap #footer {width: 100%;height: 370px;padding: 130px 0;position: relative;z-index: 2;background: #000;} */