@charset "UTF-8";


@media all and (max-width:1320px){
    
    /* 섹션3 */
    #wrap #main #section3 {padding: 11.59vw 0 9.84vw 0;}
    #wrap #main #section3 .wrap .gap .container .deco-title {display: none;}

    #wrap #main #section3 .wrap .gap .container .content .slide-box ul .left-box {float: left;width: 22.19vw;}

    #wrap #main #section3 .wrap .gap .container .content .slide-box ul .right-box {float: left;width: 66.43vw;}

    /* 섹션7 */
    /* #wrap #main #section7 .wrap .gap .container .content ul li .content-gap .content-wrap .title-wrap .title-gap {padding: 10% 15%;} */
}

@media all and (max-width:1200px){
    /* 섹션7 */
    #wrap #main #section7 .wrap .gap .container .content ul {height: 1200px;}
    #wrap #main #section7 .wrap .gap .container .content ul li {width: 50%;height: 50%;overflow: hidden;}
    #wrap #main #section7 .wrap .gap .container .content ul li .content-gap {border-right: 1px solid rgba(255, 255, 255, .2);border-top: 1px solid rgba(255, 255, 255, .2);height: 100%;}
    #wrap #main #section7 .wrap .gap .container .content ul li:nth-child(1) .content-gap {border-top: 0;height: 100%;}
    #wrap #main #section7 .wrap .gap .container .content ul li:nth-child(2) .content-gap {border-right: 0;border-top: 0;height: 100%;}
    #wrap #main #section7 .wrap .gap .container .content ul li:nth-child(4) .content-gap {border-right: 0;height: 100%;}

    #wrap #main #section7 .wrap .gap .container .content ul li .content-gap .content-wrap .title-wrap .title-gap .title h2 {font-size: 20px;line-height: 120%;width: 80%;}
    #wrap #main #section7 .wrap .gap .container .content ul li .content-gap .content-wrap .title-wrap .title-gap .title div {padding-top: 20px;}
}

@media all and (max-width:1040px){

    /* 섹션8 */
    #wrap #main #section8 .wrap .gap .container .content .left-wrap {float: left;width: 33.33333%;}
    #wrap #main #section8 .wrap .gap .container .content .left-wrap .left-gap .left-content h3 {font-size: 14px;}
    #wrap #main #section8 .wrap .gap .container .content .left-wrap .left-gap .left-content h2 {font-size: 30px;}

    #wrap #main #section8 .wrap .gap .container .content .right-wrap {float: left;width: 66.66667%;}
    #wrap #main #section8 .wrap .gap .container .content .right-wrap .right-gap .right-content {width: 100%;float: right;}
    #wrap #main #section8 .wrap .gap .container .content .right-wrap .right-gap .right-content .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content-wrap .slide-right .slide-right-gap {margin: 20px 0 0 8%;}
    #wrap #main #section8 .wrap .gap .container .content .right-wrap .right-gap .right-content .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content-wrap .slide-right .slide-right-gap .slide-right-content p {font-size: 15px;color: #828282;line-height: 180%;}
    #wrap #main #section8 .wrap .gap .container .content .right-wrap .right-gap .right-content .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content-wrap .slide-right .slide-right-gap .slide-right-content h3 {font-size: 15px;color: #232323;line-height: 180%;}
    #wrap #main #section8 .wrap .gap .container .content .right-wrap .right-gap .right-content .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content-wrap .slide-right .slide-right-gap .slide-right-content h4 {font-size: 13px;color: #828282;line-height: 180%;}
}

/* 메인메뉴(GNB) width:980px 이하 조건문 (;사용 절대금지) */
@media all and (max-width:980px){

    /* 모바일메뉴 모두 초기화*/
    /* 헤더 */
    #wrap #header {height: 60px;background: #fff;}
    #wrap #header .wrap {margin: 0;}
    #wrap #header .wrap .gap {margin: 0;}
    #wrap #header .wrap .gap .container {padding: 0;}
    #wrap #header .wrap .gap .container #logo {padding: 12px 0 12px 15px;}

    /* 헤더스크롤 */
    #wrap #header.addDown {background: rgba(0, 0, 0, 1);}
    
    #wrap #header.addWhite {background: #fff;}

    /* 헤더 네비 */
    #wrap #header .wrap .gap .container #nav {display: none;width: 100%;top: 60px;background: transparent;position: fixed;left: 0;text-align: left;height: 100%;overflow-y: auto;z-index: 3;}
    #wrap #header .wrap .gap .container #nav > ul {width: auto;padding-bottom: 60px;}
    #wrap #header .wrap .gap .container #nav > ul > li {position: relative;display: block;padding: 20px 0;border-top: 1px solid #ddd;margin: 0;text-indent: 20px;background: #fff;}

    /* 헤더 사이드메뉴 조정 */
    #wrap #header .wrap .gap .container #aside {padding: 15px 15px 15px 0;}
    #wrap #header .wrap .gap .container #aside ul li a {color:rgba(0, 0, 0, 1);}
    #wrap #header .wrap .gap .container #aside ul li a:hover {color: rgba(0, 0, 0, .6);}
    #wrap #header.addDown .wrap .gap .container #aside ul li a {color:rgba(255, 255, 255, 1);}
    #wrap #header.addDown .wrap .gap .container #aside ul li a:hover {color:rgba(255, 255, 255, .6);}
    
    #wrap #header.addWhite .wrap .gap .container #aside ul li a {color:rgba(255, 255, 255, 1);}

    /* 헤더 모바일메뉴버튼 */
    #wrap #header .wrap .gap .container .mobile-btn-wrap {display: block;}
    #wrap #header .wrap .gap .container .mobile-btn-wrap a.mobile-btn i.bar {background: #000;}
    #wrap #header.addDown .wrap .gap .container .mobile-btn-wrap a.mobile-btn i.bar {background: #fff;}

    #wrap #header.addWhite .wrap .gap .container .mobile-btn-wrap a.mobile-btn i.bar {background: #fff;}
   
    /* 서브메뉴(LNB) */
    /* 헤더 네비 서브 */
    #wrap #header .wrap .gap .container #nav > ul > li > a {display: block;line-height: 100%;background: #fff;color: #000;}
    #wrap #header .wrap .gap .container #nav > ul > li > a:hover {color: #000}    
    #wrap #header .wrap .gap .container #nav > ul > li .sub {position: relative;top: 0;left: 0;width: 100%;margin-left: 0;background: #fff;text-align: left;border-radius:0;padding-bottom: 50px;}
    #wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap {padding: 0;margin-left: 0;}
    #wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul {width: 100%;}
    #wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li {float: none;width: 100%;}
    #wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li dl {width: 100%;margin: 0;}
    #wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li dl dt {line-height: 100%;color: #000;font-size: 14px;font-weight: 600;}
    #wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li dl dd {position: relative;padding: 0;font-size: 13px;}
    #wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li dl dd a {display: block;padding: 0;color: #828282;font-weight: 500;transition: color .3s ease-in-out;}
    #wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li dl dd a:hover {color: #000;}
    
    /* 헤더 네비 서브서브 공통 */
    #wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li dl dd .sub-sub {position: relative;top: 0;left: 0;margin-left: 0;width: 100%;background: #fff;border-radius: 0;}
    #wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li dl dd .sub-sub .sub-sub-gap {padding: 0;}
    #wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li dl dd .sub-sub .sub-sub-gap > ul {width: 100%;}
    #wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li dl dd .sub-sub .sub-sub-gap > ul > li {position: relative;padding: 0;width: 100%;}
    #wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li dl dd .sub-sub .sub-sub-gap > ul > li > a {display: block;padding: 0;color: #828282;font-weight: 500;transition: color .3s ease-in-out;}
    #wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li dl dd .sub-sub .sub-sub-gap > ul > li > a:hover {color: #000;}
    
    /* 헤더 네비 서브서브 화살표 */
    #wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap ul li dl dd a i {float: none;}

    /* 서브5 5-1 서브 좌측배치 */
    #wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li dl dd .sub-sub .sub-sub-gap > ul > li .sub-sub-sub {position: relative;top: 0;left: 0;margin-left: 0;width: 100%;background: #fff;border-radius: 0;}
    #wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li dl dd .sub-sub .sub-sub-gap > ul > li .sub-sub-sub .sub-sub-sub-gap {padding: 0;}
    #wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li dl dd .sub-sub .sub-sub-gap > ul > li .sub-sub-sub .sub-sub-sub-gap ul {width: 100%;}
    #wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li dl dd .sub-sub .sub-sub-gap > ul > li .sub-sub-sub .sub-sub-sub-gap ul li {padding: 0;width: 100%;}
    #wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li dl dd .sub-sub .sub-sub-gap > ul > li .sub-sub-sub .sub-sub-sub-gap ul li a {display: block;padding: 0;color: #828282;font-weight: 500;transition: color .3s ease-in-out;}
    #wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li dl dd .sub-sub .sub-sub-gap > ul > li .sub-sub-sub .sub-sub-sub-gap ul li a:hover {color: #000;}
    
    /* 서브7 이미지 */
    #wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li dl dd a img {max-width:30%;float: left;margin-left: 20px;}
    
    /* 메뉴제어 display:block; */
    #wrap #header .wrap .gap .container #nav > ul > li .sub {display: none;}
    #wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li dl dd .sub-sub {display: block;}
    #wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li dl dd .sub-sub .sub-sub-gap .sub-sub-sub {display: block;}


    /* 섹션1 */

    /* 메인슬라이드버튼 */
    #wrap #main #section1 .wrap .gap .container .slide-container .arrow-prev {display: none;}
    #wrap #main #section1 .wrap .gap .container .slide-container .arrow-next {display: none;}

    /* 페이지버튼 */
    #wrap #main #section1 .wrap .gap .container .slide-container .page-btn-wrap {display: none;}

    /* 슬라이드 텍스트박스 반응형 */
    /* vw 반응형 너비 */
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .text-box {width: 61.22vw;height: 37.75vw;}
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .text-box .text-gap {padding: 10vw 11.42vw;}

    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .text-box .text-gap .text-wrap .title1 h3 {font-size: 1.53vw;margin-bottom: 2.55vw;}
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .text-box .text-gap .text-wrap .title1 h3 span:nth-child(2) {width: 7.14vw;}
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .text-box .text-gap .text-wrap .title1 h3 span i {width: 3.57vw;}

    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .text-box .text-gap .text-wrap .title2 {width: 100%;}
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .text-box .text-gap .text-wrap .title2 h2 {font-size: 4.89vw;}
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .text-box .text-gap .text-wrap .title2 span {width: 6.12vw;height: 6.12vw;margin: 2.75vw 0;}
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .text-box .text-gap .text-wrap .title2 span a {line-height: 6.12vw;}
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .text-box .text-gap .text-wrap .title2 span a i {font-size: 2.04vw;}

    /* 섹션2 */
    #wrap #main #section2 {padding: 60px 0;overflow: visible;}
    #wrap #main #section2 .wrap .gap {margin: 30px;}

    #wrap #main #section2 .wrap .gap .container > ul > li:nth-child(1) {float: left;width: 40%;}
    #wrap #main #section2 .wrap .gap .container > ul > li:nth-child(2) {float: left;width: 60%;}
    #wrap #main #section2 .wrap .gap .container > ul > li:nth-child(3) {float: left;width: 100%;}
    #wrap #main #section2 .wrap .gap .container > ul > li:nth-child(3) .content-gap {padding-top: 45px;}

    #wrap #main #section2 .wrap .gap .container > ul > li .content-gap .content .img-box > span {height: 94px;}


    /* 섹션2 1열 */
    #wrap #main #section2 .wrap .gap .container > ul > li .content-gap .content h2 {font-size: 22px;padding-bottom: 20px;}
    #wrap #main #section2 .wrap .gap .container > ul > li .content-gap .content > span:nth-child(2) {padding: 20px 0;}

    /* 섹션2 2열 */
    #wrap #main #section2 .wrap .gap .container > ul > li .content-gap .content > h3 {padding-bottom: 15px;}
    #wrap #main #section2 .wrap .gap .container > ul > li .content-gap .content > p:nth-child(2) {margin-bottom: 15px;margin-right: 15px;}

    #wrap #main #section2 .wrap .gap .container > ul > li .content-gap .content .img-box {position: relative;}
    

    /* 섹션3 */
    #wrap #main #section3 .wrap .gap .container .content > h5 {font-size: 2vw;padding-bottom: 20px;}
    #wrap #main #section3 .wrap .gap .container .content > h3 {font-size: 3.5vw;}

    
    #wrap #main #section3 .wrap .gap .container .content .slide-box {padding-top: 0;}
    #wrap #main #section3 .wrap .gap .container .content .slide-box ul .left-box {float: none;width: 100%;max-width: 293px;margin: 0 auto;text-align: center;}
    #wrap #main #section3 .wrap .gap .container .content .slide-box ul .left-box .box-gap .content-box {height: 30.2vw;}
    #wrap #main #section3 .wrap .gap .container .content .slide-box ul .left-box .box-gap .content-box > h4 {padding-top: 6.12vw;margin-bottom: 2.55vw;font-size: 2vw}
    #wrap #main #section3 .wrap .gap .container .content .slide-box ul .left-box .box-gap .content-box > h2 {font-size: 3vw;}
    
    #wrap #main #section3 .wrap .gap .container .content .slide-box ul .right-box {float: none;width: 100%;}
    
    /* 슬라이드 */
    #wrap #main #section3 .wrap .gap .container .content .slide-box ul .right-box .box-gap {margin: 0;}
    #wrap #main #section3 .wrap .gap .container .content .slide-box ul .right-box .box-gap .content-box .slide-container {left: 0;}
    #wrap #main #section3 .wrap .gap .container .content .slide-box ul .right-box .box-gap .content-box .slide-container .slide-view {width: calc(390px*2);margin: 0 auto;}


    /* 슬라이드 좌우 버튼 */
    #wrap #main #section3 .wrap .gap .container .content .slide-box ul .left-box .box-gap .content-box > div {width: 100%;}
    #wrap #main #section3 .wrap .gap .container .content .slide-box ul .left-box .box-gap .content-box > div > .prev-btn-box {display: inline-block;padding-right: 10px;}
    #wrap #main #section3 .wrap .gap .container .content .slide-box ul .left-box .box-gap .content-box > div > .prev-btn-box .prev-btn {color: #aaa;transition: color .3s ease-in-out;}
    #wrap #main #section3 .wrap .gap .container .content .slide-box ul .left-box .box-gap .content-box > div > .prev-btn-box .prev-btn:hover {color: #000;}
    #wrap #main #section3 .wrap .gap .container .content .slide-box ul .left-box .box-gap .content-box > div > .prev-btn-box .prev-btn i {font-size: 40px;}
    #wrap #main #section3 .wrap .gap .container .content .slide-box ul .left-box .box-gap .content-box > div > .next-btn-box {display: inline-block;padding-left: 10px;}
    #wrap #main #section3 .wrap .gap .container .content .slide-box ul .left-box .box-gap .content-box > div > .next-btn-box .next-btn {color: #aaa;transition: color .3s ease-in-out;}
    #wrap #main #section3 .wrap .gap .container .content .slide-box ul .left-box .box-gap .content-box > div > .next-btn-box .next-btn:hover {color: #000;}
    #wrap #main #section3 .wrap .gap .container .content .slide-box ul .left-box .box-gap .content-box > div > .next-btn-box .next-btn i {font-size: 40px;}


    /* 섹션4 */
    #wrap #main #section4 {padding: 13.26vw 0;}
    #wrap #main #section4 .wrap .gap {margin: 0 15px;}
    #wrap #main #section4 .wrap .gap .container > ul {margin-top: 5.1vw;}
    #wrap #main #section4 .wrap .gap .container > ul > li {float: none;width: 100%;}
    #wrap #main #section4 .wrap .gap .container > ul > li:last-child {padding-top: 5.1vw;}
    #wrap #main #section4 .wrap .gap .container > ul > .left-wrap .content-gap .content {width: 55.1vw;margin: 0 auto;}
    #wrap #main #section4 .wrap .gap .container > ul > .right-wrap .content-gap .content {width: 100%;margin: 0 auto;}

    
    /* 섹션4 왼쪽 */
    #wrap #main #section4 .wrap .gap .container > ul .left-wrap .content-gap .content .small-img {width: 28.36vw;position: absolute;z-index: 2;bottom: 4.08vw;}
    #wrap #main #section4 .wrap .gap .container > ul .left-wrap .content-gap .content .large-img {width: 38.77vw;position: relative;z-index: 1;top: 0px;left: 16.32vw;}
    
    /* 섹션4 오른쪽 */
    #wrap #main #section4 .wrap .gap .container > ul .right-wrap .content-gap .content .right-gap {margin: 0 5.1vw 0 10.2vw;}
    #wrap #main #section4 .wrap .gap .container > ul .right-wrap .content-gap .content .right-gap h4 {margin-bottom: 3.06vw;}
    #wrap #main #section4 .wrap .gap .container > ul .right-wrap .content-gap .content .right-gap h4 span:first-child {padding-right: 1.53vw;}
    #wrap #main #section4 .wrap .gap .container > ul .right-wrap .content-gap .content .right-gap h4 span:first-child i {width: 3.06vw;}
    #wrap #main #section4 .wrap .gap .container > ul .right-wrap .content-gap .content .right-gap h2 {font-size: 32px;margin-bottom: 3.06vw;line-height: 120%;}
    #wrap #main #section4 .wrap .gap .container > ul .right-wrap .content-gap .content .right-gap p {font-size: 15px;margin-bottom: 2.55vw;margin-right: 3.57vw;line-height: 200%;}
    #wrap #main #section4 .wrap .gap .container > ul .right-wrap .content-gap .content .right-gap span {margin-top: 20px;}
    #wrap #main #section4 .wrap .gap .container > ul .right-wrap .content-gap .content .right-gap span > a {line-height: 20px;font-size: 13px;padding: 13px 32px;}

    /* 섹션5 */
    #wrap #main #section5 .wrap .gap {padding: 0;}

    /* 섹션8 */
    #wrap #main #section8 .wrap .gap .container .content .left-wrap {float: none;width: 100%;text-align: center;}
    #wrap #main #section8 .wrap .gap .container .content .left-wrap .left-gap {margin: 0 30px;}
    #wrap #main #section8 .wrap .gap .container .content .left-wrap .left-gap .left-content {width: 80%;margin: 0 auto;}

    #wrap #main #section8 .wrap .gap .container .content .right-wrap {float: none;width: 100%;}
    #wrap #main #section8 .wrap .gap .container .content .right-wrap .right-gap {margin: 0 60px;}
    #wrap #main #section8 .wrap .gap .container .content .right-wrap .right-gap .right-content .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content-wrap .slide-right .slide-right-gap {margin: 20px 0 0 14.7991%;}

}

@media all and (max-width:780px){
    /* 섹션3 */
    #wrap #main #section3 .wrap .gap .container .content > h5 {font-size: 2vw;padding-bottom: 20px;}
    #wrap #main #section3 .wrap .gap .container .content > h3 {font-size: 3.5vw;}

    #wrap #main #section3 .wrap .gap .container .content .slide-box ul .left-box .box-gap .content-box {height: 25vw;}
    #wrap #main #section3 .wrap .gap .container .content .slide-box ul .left-box .box-gap .content-box > h4 {padding-top: 5vw;margin-bottom: 2vw;font-size: 2vw}
    #wrap #main #section3 .wrap .gap .container .content .slide-box ul .left-box .box-gap .content-box > h2 {font-size: 2.7vw;}
    

    /* 섹션3 슬라이드 */
    #wrap #main #section3 .wrap .gap .container .content .slide-box ul .right-box .box-gap .content-box .slide-container .slide-view {width: calc(50%*2);}
    #wrap #main #section3 .wrap .gap .container .content .slide-box ul .right-box .box-gap .content-box .slide-container .slide-view .slide-wrap {width: calc(100%*12);margin-left: calc(-50%*4);}
    #wrap #main #section3 .wrap .gap .container .content .slide-box ul .right-box .box-gap .content-box .slide-container .slide-view .slide-wrap .slide {width: 50vw;}

    /* 섹션7 */
    #wrap #main #section7 .wrap .gap .container .content ul {height: 1000px;}
    #wrap #main #section7 .wrap .gap .container .content ul li {width: 50%;height: 50%;overflow: hidden;}
    #wrap #main #section7 .wrap .gap .container .content ul li .content-gap {border-right: 1px solid rgba(255, 255, 255, .2);border-top: 1px solid rgba(255, 255, 255, .2);height: 100%;}
    #wrap #main #section7 .wrap .gap .container .content ul li:nth-child(1) .content-gap {border-top: 0;height: 100%;}
    #wrap #main #section7 .wrap .gap .container .content ul li:nth-child(2) .content-gap {border-right: 0;border-top: 0;height: 100%;}
    #wrap #main #section7 .wrap .gap .container .content ul li:nth-child(4) .content-gap {border-right: 0;height: 100%;}
}


@media all and (max-width:760px){

    /* 섹션2 */
    #wrap #main #section2 {padding: 30px 0;overflow: visible;}
    #wrap #main #section2 .wrap .gap {margin: 20px;}

    #wrap #main #section2 .wrap .gap .container > ul > li:nth-child(1) {float: left;width: 40%;}
    #wrap #main #section2 .wrap .gap .container > ul > li:nth-child(2) {float: left;width: 60%;}
    #wrap #main #section2 .wrap .gap .container > ul > li:nth-child(3) {width: 100%;}
    #wrap #main #section2 .wrap .gap .container > ul > li:nth-child(3) .content-gap {padding-top: 30px;}

    #wrap #main #section2 .wrap .gap .container > ul > li .content-gap {margin: 0;}

    /* 섹션2 1열 */
    #wrap #main #section2 .wrap .gap .container > ul > li .content-gap .content h2 {font-size: 22px;padding-bottom: 20px;}
    #wrap #main #section2 .wrap .gap .container > ul > li .content-gap .content > span:nth-child(2) {padding: 20px 0;}

    #wrap #main #section2 .wrap .gap .container > ul > li .content-gap .content .img-box {position: relative;}

    /* 섹션2 2열 */
    #wrap #main #section2 .wrap .gap .container > ul > li .content-gap .content > h3 {line-height: 160%;padding-bottom: 15px;}
    #wrap #main #section2 .wrap .gap .container > ul > li .content-gap .content > p {line-height: 175%;}
    #wrap #main #section2 .wrap .gap .container > ul > li .content-gap .content > p:nth-child(2) {margin-bottom: 15px;}

    /* 섹션6 */
    #wrap #main #section6 .wrap .gap .container > ul > li {float: left;width: 50%;padding: 20px 0;}

}

@media all and (max-width:680px){

    /* 섹션8 */
    #wrap #main #section8 .wrap .gap .container .content .left-wrap {float: none;width: 100%;text-align: center;}
    #wrap #main #section8 .wrap .gap .container .content .left-wrap .left-gap {margin: 0 30px;}
    #wrap #main #section8 .wrap .gap .container .content .left-wrap .left-gap .left-content {width: 90%;margin: 0 auto;}

    #wrap #main #section8 .wrap .gap .container .content .right-wrap {float: none;width: 100%;}
    #wrap #main #section8 .wrap .gap .container .content .right-wrap .right-gap {margin: 0 30px;}
    #wrap #main #section8 .wrap .gap .container .content .right-wrap .right-gap .right-content .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content-wrap .slide-left .slide-left-gap .slide-left-content img {width: 100%;border-radius: 50%;min-width: 150px;max-width: 180px;}
    #wrap #main #section8 .wrap .gap .container .content .right-wrap .right-gap .right-content .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content-wrap .slide-right .slide-right-gap {margin: 20px 0 0 14.7991%;}
    #wrap #main #section8 .wrap .gap .container .content .right-wrap .right-gap .right-content .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content-wrap .slide-right .slide-right-gap .slide-right-content p {font-size: 14px;color: #828282;line-height: 180%;padding-bottom: 10px;}
    #wrap #main #section8 .wrap .gap .container .content .right-wrap .right-gap .right-content .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content-wrap .slide-right .slide-right-gap .slide-right-content h3 {font-size: 14px;color: #232323;line-height: 180%;padding-bottom: 4px;}
    #wrap #main #section8 .wrap .gap .container .content .right-wrap .right-gap .right-content .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content-wrap .slide-right .slide-right-gap .slide-right-content h4 {font-size: 12px;color: #828282;line-height: 180%;}

    /* 섹션7 */
    #wrap #main #section7 .wrap .gap .container .content ul {height: 1000px;}
    #wrap #main #section7 .wrap .gap .container .content ul li {width: 100%;height: 25%;overflow: hidden;}
    #wrap #main #section7 .wrap .gap .container .content ul li .content-gap {border-right: 0;border-top: 1px solid rgba(255, 255, 255, .2);height: 100%;}
    #wrap #main #section7 .wrap .gap .container .content ul li:nth-child(1) .content-gap {border-top: 0;height: 100%;}
    #wrap #main #section7 .wrap .gap .container .content ul li:nth-child(2) .content-gap {border-top: 1px solid rgba(255, 255, 255, .2);height: 100%;}

    #wrap #main #section7 .wrap .gap .container .content ul li .content-gap .content-wrap .title-wrap {bottom: -50px;}
    #wrap #main #section7 .wrap .gap .container .content ul li .content-gap .content-wrap .title-wrap .title-gap {padding: 5% 12.6382306%;}
    #wrap #main #section7 .wrap .gap .container .content ul li .content-gap .content-wrap .title-wrap .title-gap .title h2 {padding-bottom: 20px;}
    #wrap #main #section7 .wrap .gap .container .content ul li .content-gap .content-wrap .title-wrap .title-gap .title div {padding-top: 0;position: relative;}
    #wrap #main #section7 .wrap .gap .container .content ul li.addEvent .content-gap .content-wrap .title-wrap .title-gap .title div {padding-top: 0;}
    #wrap #main #section7 .wrap .gap .container .content ul li .content-gap .content-wrap .title-wrap .title-gap .title div p {width: 100%;}
    #wrap #main #section7 .wrap .gap .container .content ul li .content-gap .content-wrap .title-wrap .title-gap .title div span {width: 40px;height: 40px;margin-top: 10px;position: absolute;top: -20px;right: 0;}
    

}

@media all and (max-width:500px){

    /* 섹션1 */
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .text-box .text-gap .text-wrap .title1 h3 span:nth-child(2) {width: 3.14vw;}
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .text-box .text-gap .text-wrap .title1 h3 span i {width: 2.57vw;}

    /* 섹션2 */
    #wrap #main #section2 {padding: 15px 0;overflow: visible;}
    #wrap #main #section2 .wrap .gap {margin: 10px;}

    #wrap #main #section2 .wrap .gap .container > ul > li:nth-child(1) {width: 100%;}
    #wrap #main #section2 .wrap .gap .container > ul > li:nth-child(2) {width: 100%;}
    #wrap #main #section2 .wrap .gap .container > ul > li:nth-child(3) {width: 100%;}
    #wrap #main #section2 .wrap .gap .container > ul > li:nth-child(2) .content-gap {padding-top: 15px;}
    #wrap #main #section2 .wrap .gap .container > ul > li:nth-child(3) .content-gap {padding-top: 15px;}

    /* 섹션2 1열 */
    #wrap #main #section2 .wrap .gap .container > ul > li .content-gap .content h2 {font-size: 22px;}
    #wrap #main #section2 .wrap .gap .container > ul > li .content-gap .content > span:nth-child(2) {padding: 20px 0;}

    /* 섹션2 2열 */
    #wrap #main #section2 .wrap .gap .container > ul > li .content-gap .content > h3 {line-height: 160%;padding-bottom: 15px;}
    #wrap #main #section2 .wrap .gap .container > ul > li .content-gap .content > p {line-height: 175%;}
    #wrap #main #section2 .wrap .gap .container > ul > li .content-gap .content > p:nth-child(2) {margin-bottom: 15px;}

    #wrap #main #section2 .wrap .gap .container > ul > li .content-gap .content .img-box {position: relative;}


    /* 섹션3 */
    #wrap #main #section3 .wrap .gap .container .content > h5 {font-size: 2vw;padding-bottom: 20px;}
    #wrap #main #section3 .wrap .gap .container .content > h3 {font-size: 3.5vw;}

    #wrap #main #section3 .wrap .gap .container .content .slide-box ul .left-box .box-gap .content-box {height: 25vw;}
    #wrap #main #section3 .wrap .gap .container .content .slide-box ul .left-box .box-gap .content-box > h4 {padding-top: 4vw;margin-bottom: 2vw;font-size: 2vw}
    #wrap #main #section3 .wrap .gap .container .content .slide-box ul .left-box .box-gap .content-box > h2 {font-size: 4vw;}
    #wrap #main #section3 .wrap .gap .container .content .slide-box ul .left-box .box-gap .content-box > div {position: relative;;}

    /* 섹션3 슬라이드 */
    #wrap #main #section3 .wrap .gap .container .content .slide-box ul .right-box .box-gap .content-box .slide-container .slide-view {width: calc(100%*1);}
    #wrap #main #section3 .wrap .gap .container .content .slide-box ul .right-box .box-gap .content-box .slide-container .slide-view .slide-wrap {width: calc(100%*12);margin-left: calc(-100%*4);}
    #wrap #main #section3 .wrap .gap .container .content .slide-box ul .right-box .box-gap .content-box .slide-container .slide-view .slide-wrap .slide {width: 100vw;}


    /* 섹션4 오른쪽박스 */
    #wrap #main #section4 .wrap .gap .container > ul .right-wrap .content-gap .content .right-gap h2 {font-size: 25px;margin-bottom: 3.06vw;line-height: 120%;}
    #wrap #main #section4 .wrap .gap .container > ul .right-wrap .content-gap .content .right-gap p {font-size: 14px;margin-bottom: 2.55vw;margin-right: 3.57vw;line-height: 200%;}
    #wrap #main #section4 .wrap .gap .container > ul .right-wrap .content-gap .content .right-gap span > a {font-size: 13px;padding: 10px 20px;}

    /* 섹션6 */
    #wrap #main #section6 .wrap .gap .container > ul > li {float: none;width: 100%;padding: 20px 0;}    

    /* 섹션8 */
    
    #wrap #main #section8 .wrap .gap .container .content .left-wrap {float: none;width: 100%;text-align: center;}
    #wrap #main #section8 .wrap .gap .container .content .left-wrap .left-gap {margin: 0 30px;}
    #wrap #main #section8 .wrap .gap .container .content .left-wrap .left-gap .left-content {width: 90%;margin: 0 auto;}

    #wrap #main #section8 .wrap .gap .container .content .right-wrap {float: none;width: 100%;}
    #wrap #main #section8 .wrap .gap .container .content .right-wrap .right-gap {margin: 0 15px;}
    #wrap #main #section8 .wrap .gap .container .content .right-wrap .right-gap .right-content .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content-wrap .slide-left {min-width: 120px;}
    #wrap #main #section8 .wrap .gap .container .content .right-wrap .right-gap .right-content .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content-wrap .slide-left .slide-left-gap .slide-left-content img {min-width: 120px;}

    #wrap #main #section8 .wrap .gap .container .content .right-wrap .right-gap .right-content .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content-wrap .slide-right {width: 60%;}
    #wrap #main #section8 .wrap .gap .container .content .right-wrap .right-gap .right-content .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content-wrap .slide-right .slide-right-gap {margin: 6px 0 0 0;}
    #wrap #main #section8 .wrap .gap .container .content .right-wrap .right-gap .right-content .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content-wrap .slide-right .slide-right-gap .slide-right-content p {font-size: 13px;color: #828282;line-height: 150%;padding-bottom: 3px;}
    #wrap #main #section8 .wrap .gap .container .content .right-wrap .right-gap .right-content .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content-wrap .slide-right .slide-right-gap .slide-right-content h3 {font-size: 13px;color: #232323;line-height: 150%;padding-bottom: 0;}
    #wrap #main #section8 .wrap .gap .container .content .right-wrap .right-gap .right-content .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content-wrap .slide-right .slide-right-gap .slide-right-content h4 {font-size: 11px;color: #828282;line-height: 150%;}

}






/* 창너비가 980이하이면서 가로형모드(orientation:landscape)이면 섹션1의 높이를 600px로 고정한다 */
/* 자바스크립트에서 설정한 섹션1의 높이때문에 먹지않아서 보이고 안보이게끔만 설정해둠. */
/* @media all and (max-width:980px) and (orientation:landscape){
    #wrap #main #section1 {height: 600px;}

    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .text-box {display: none;}
} */

/* 창너비가 980px 이하이면서 세로형모드(orientation:portrait)이면 섹션1의 높이를 창높이로 한다. */
/* @media all and (max-width:980px) and (orientation:portrait){
    #wrap #main #section1 {height: 600px;}

    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .text-box {display: block;}
} */

