@charset "UTF-8";

* {margin: 0;padding: 0;box-sizing: border-box;}
html {overflow-y: scroll;}
html, body {width: 100%;font-family: 'Pretendard';letter-spacing: 1px;}

h1, h2, h3, h4, h5, h6 {font-size: initial;font-weight: normal;}
ul, li {list-style: none;}
em, i, address {font-style: normal;}
table {border-collapse: collapse;}
a {text-decoration: none;color: #191919;}
a:hover, a:focus {outline: 0;}
button {font-family: 'Pretendard';padding: 0;border: 0;letter-spacing: 1px;cursor: pointer;}

input, select, textarea, option {font-family: 'Pretendard';font-size: 14px;letter-spacing: 1px;}
input::placeholder {color: #9d9d9d;}
input:focus::placeholder {opacity: 0;}
textarea {width: 100%;resize: none;}

.hide {opacity: 0;pointer-events: none;}
.hidden {position: absolute;left: -9999px;width: 0;height: 0;overflow: hidden;text-indent: -9999px;}
.a11y-hidden {position: absolute;width: 1px;height: 1px;margin: -1px;overflow: hidden;clip-path: polygon(0 0, 0 0, 0 0);}
.a11y-hidden.focusable:focus,
.a11y-hidden.focusable:active {outline: visible; clip:auto; position: static; width: auto;height: auto;margin: 0;}

#skip {z-index: 9999;position: fixed;top: 0;left: 0;text-align: center;}
#skip a {display: block;line-height: 0;font-size: 0;}
#skip a:focus {font-size: 24px;line-height: 1.2;padding: 0 10px;background: #fff;outline: 2px solid #ddd;}