@charset "utf-8";

#wrap #header {top:0;}

#wrap #mainsub #section1 {width:100%;height:440px;position: relative;overflow: hidden;}
#wrap #mainsub #section1 .wrap {width: 100%;height: 100%;max-width: 1300px;margin: 0 auto;}
#wrap #mainsub #section1 .wrap .gap {margin: 0 10px;height: 100%;}
#wrap #mainsub #section1 .wrap .gap .container {width: 100%;height: 100%;}

#wrap #mainsub #section1 .wrap .gap .container .title {position: relative;top: 50%;margin-top: 0;}
#wrap #mainsub #section1 .wrap .gap .container .title h2 {color: rgba(255,255,255,1);padding-bottom: 20px;}
#wrap #mainsub #section1 .wrap .gap .container .title h2 span {font-size: 38px;display: inline-block;}
#wrap #mainsub #section1 .wrap .gap .container .title h2 strong {font-size: 38px;display: inline-block;margin-left: 10px;}
#wrap #mainsub #section1 .wrap .gap .container .title h3 {font-size: 15px;color: rgba(255,255,255,0.4);}

#wrap #mainsub #section1 .wrap .gap .container .nav {position: absolute;bottom: 0;left: 50%;width: 100%;height: 60px;margin-left: -640px;background: #1a5bb1;}
#wrap #mainsub #section1 .wrap .gap .container .nav span {display: inline-block;height: 100%;}
#wrap #mainsub #section1 .wrap .gap .container .nav span:nth-child(1) {width: 60px;background: #3c73bd;margin-right: 25px;}
#wrap #mainsub #section1 .wrap .gap .container .nav span:nth-child(1) a {background: url(../img/main/navi_home_ico.png) no-repeat 50% 50%;}
#wrap #mainsub #section1 .wrap .gap .container .nav span a {display: block;height: 100%;line-height: 60px;font-size: 15px;color: #fff;}
#wrap #mainsub #section1 .wrap .gap .container .nav span:hover a {text-decoration: underline;}
#wrap #mainsub #section1 .wrap .gap .container .nav span i {display: block;height: 100%;width: 30px;background: url(../img/main/navi_arrow.png) no-repeat 50% 50%;}

#wrap #mainsub #section2 {width:100%;}
#wrap #mainsub #section2 .wrap {width: 100%;max-width: 1300px;margin: 0 auto;}
#wrap #mainsub #section2 .wrap .gap {margin: 0 10px;}
#wrap #mainsub #section2 .wrap .gap .container {width: 100%;position: relative;}
#wrap #mainsub #section2 .wrap .gap .container .main-sub-wrap {width: 270px;position: absolute;z-index: 2;left: 0;top: 0;}
#wrap #mainsub #section2 .wrap .gap .container .main-sub-wrap > ul {width: 100%;}
#wrap #mainsub #section2 .wrap .gap .container .main-sub-wrap > ul > li {border-bottom: 1px solid #ddd;}
#wrap #mainsub #section2 .wrap .gap .container .main-sub-wrap > ul > li > a {position: relative;display: block;padding: 15px 30px 15px 15px;font-size: 17px;color: #222;font-weight: 600;line-height: 22px;}
#wrap #mainsub #section2 .wrap .gap .container .main-sub-wrap > ul > li > a > i {float: right;position: relative;}
#wrap #mainsub #section2 .wrap .gap .container .main-sub-wrap > ul > li > a > i > img:nth-child(1) {position: absolute;top: 3px;right: 0;}
#wrap #mainsub #section2 .wrap .gap .container .main-sub-wrap > ul > li > a > i > img:nth-child(2) {position: absolute;top: 3px;right: 0;}
#wrap #mainsub #section2 .wrap .gap .container .main-sub-wrap > ul > li.addActive > a > i > img:nth-child(2) {display: none;}
#wrap #mainsub #section2 .wrap .gap .container .main-sub-wrap > ul > li > .main-sub {width: 100%;display: none;}
#wrap #mainsub #section2 .wrap .gap .container .main-sub-wrap > ul > li.addActive > .main-sub {border-top: 3px solid #1a5bb1;display: block;}
#wrap #mainsub #section2 .wrap .gap .container .main-sub-wrap > ul > li > .main-sub ul {padding: 15px;}
#wrap #mainsub #section2 .wrap .gap .container .main-sub-wrap > ul > li > .main-sub ul li {list-style: square;color: #1a5bb1;;margin-left: 15px;padding: 5px 0;}
#wrap #mainsub #section2 .wrap .gap .container .main-sub-wrap > ul > li > .main-sub ul li a {display: inline-block;font-size: 15px;color: #222;line-height: 19px;}
#wrap #mainsub #section2 .wrap .gap .container .main-sub-wrap > ul > li > .main-sub ul li:hover a {color: #1a5bb1;}

#wrap #mainsub #section2 .wrap .gap .container .content {max-width: 100%;margin: 0 auto;position: relative;padding: 0 0 0 320px;}
#wrap #mainsub #section2 .wrap .gap .container .content .content-gap {padding: 35px 0 60px 0;}


#wrap #mainsub #section2 .wrap .gap .container .content .content-gap .satisfaction {border: 1px solid #e2e3e4;border-top: 1px solid #000;}
#wrap #mainsub #section2 .wrap .gap .container .content .content-gap .satisfaction .manager {position: relative;padding: 15px 0;margin: 0 15px;}
#wrap #mainsub #section2 .wrap .gap .container .content .content-gap .satisfaction .manager ul {float: left;}
#wrap #mainsub #section2 .wrap .gap .container .content .content-gap .satisfaction .manager ul li {list-style: square;color: #1a5bb1;margin-left: 20px;}
#wrap #mainsub #section2 .wrap .gap .container .content .content-gap .satisfaction .manager ul li span {font-size: 15px;color: #555;}
#wrap #mainsub #section2 .wrap .gap .container .content .content-gap .satisfaction .manager ul li a {font-size: 15px;color: #555;margin-left: 10px;}

#wrap #mainsub #section2 .wrap .gap .container .content .content-gap .satisfaction .manager .date {float: right;font-size: 15px;color: #555;position: relative;}
#wrap #mainsub #section2 .wrap .gap .container .content .content-gap .satisfaction .manager .date img {position: absolute;top: -1px;left: -20px;}

#wrap #mainsub #section2 .wrap .gap .container .content .content-gap .satisfaction .evaluation {background: #f0f3f8;padding: 15px;}
#wrap #mainsub #section2 .wrap .gap .container .content .content-gap .satisfaction .evaluation p {font-size: 15px;color: #393939;}
#wrap #mainsub #section2 .wrap .gap .container .content .content-gap .satisfaction .evaluation p img {margin-right: 10px;}

#wrap #mainsub #section2 .wrap .gap .container .content .content-gap .satisfaction .evaluation .form-box {width: 100%;}
#wrap #mainsub #section2 .wrap .gap .container .content .content-gap .satisfaction .evaluation .form-box form {margin: 0 20px;}
#wrap #mainsub #section2 .wrap .gap .container .content .content-gap .satisfaction .evaluation .form-box form ul {float: left;width: 50%;line-height: 38px;}
#wrap #mainsub #section2 .wrap .gap .container .content .content-gap .satisfaction .evaluation .form-box form ul li {float: left;margin-left: 15px;}
#wrap #mainsub #section2 .wrap .gap .container .content .content-gap .satisfaction .evaluation .form-box form ul li input[type="radio"] {appearance: none;border: 1px solid #777;width: 14px;height: 14px;border-radius: 50%;position: relative;}
#wrap #mainsub #section2 .wrap .gap .container .content .content-gap .satisfaction .evaluation .form-box form ul li input[type="radio"]:checked::after {content: '';position: absolute;top: 2px;left: 2px;width: 8px;height: 8px;background: #1a5bb1;border-radius: 50%;}
#wrap #mainsub #section2 .wrap .gap .container .content .content-gap .satisfaction .evaluation .form-box form ul li label {margin-left: 5px;}

#wrap #mainsub #section2 .wrap .gap .container .content .content-gap .satisfaction .evaluation .form-box form .opinion {float: left;width: 50%;position: relative;}
#wrap #mainsub #section2 .wrap .gap .container .content .content-gap .satisfaction .evaluation .form-box form .opinion input {width: 100%;line-height: 36px;font-size: 14px;font-weight: 600;border: 1px solid #bcc3c6;box-sizing: border-box;text-indent: 5px;}
#wrap #mainsub #section2 .wrap .gap .container .content .content-gap .satisfaction .evaluation .form-box form .opinion input::placeholder {color: #bcc3c6;}
#wrap #mainsub #section2 .wrap .gap .container .content .content-gap .satisfaction .evaluation .form-box form .opinion button {width: 80px;line-height: 38px;color: #fff;background: #1a5bb1;position: absolute;top: 0;right: 0;border: 0;outline: 0;cursor: pointer;}
