@charset "UTF-8";

#wrap {width: 100%;position: relative;z-index: 1;}

#wrap #header {position: absolute;z-index: 3;}


#wrap #main {width: 100%;position: relative;z-index: 2;}

#wrap #main #section1 {width: 100%;height: 969px;position: relative;}
#wrap #main #section1 .wrap {width: 100%;height: 100%;}
#wrap #main #section1 .wrap .gap {width: 100%;height: 100%;}
#wrap #main #section1 .wrap .gap .container {width: 100%;height: 100%;}

#wrap #main #section1 .wrap .gap .container .left-box{float: left;max-width: 1250px;height: 100%;position: relative;}
#wrap #main #section1 .wrap .gap .container .left-box .title {position: absolute;top: 140px;left: 450px;z-index: 2;}
#wrap #main #section1 .wrap .gap .container .left-box .title h4 {font-size: 18px;color: #232323;letter-spacing: 4px;opacity: .7;line-height: 150%;}
#wrap #main #section1 .wrap .gap .container .left-box .title p {font-size: 40px;color: #232332;font-weight: 200;letter-spacing: -4px;padding-top: 15px;line-height: 150%;}
#wrap #main #section1 .wrap .gap .container .left-box .title h2 {padding-top: 15px;font-size: 55px;}
#wrap #main #section1 .wrap .gap .container .left-box .title h2 span {display: inline-block;font-size: 55px;font-weight: 600;line-height: 150%;letter-spacing: -4px;}
#wrap #main #section1 .wrap .gap .container .left-box .title h2 span:first-child {color: #232323;}
#wrap #main #section1 .wrap .gap .container .left-box .title h2 span:last-child {color: #2375c9;}

#wrap #main #section1 .wrap .gap .container .left-box .slide-container {width: 100%;height: 100%;position: relative;}
#wrap #main #section1 .wrap .gap .container .left-box .slide-container .slide-view {width: 100%;height: 100%;position: relative;}
#wrap #main #section1 .wrap .gap .container .left-box .slide-container .slide-view .slide-wrap {width: 500%;height: 100%;margin-left: -100%;position: relative;}
#wrap #main #section1 .wrap .gap .container .left-box .slide-container .slide-view .slide-wrap .slide {width: 1250px;height: 100%;float: left;position: relative;left: 0;background: url(../img/img_visual0101.jpg) no-repeat 50% 50%;background-size: cover;}
#wrap #main #section1 .wrap .gap .container .left-box .slide-container .slide-view .slide-wrap .slide0 {background-image: url(../img/img_visual0101.jpg);}
#wrap #main #section1 .wrap .gap .container .left-box .slide-container .slide-view .slide-wrap .slide1 {background-image: url(../img/img_visual0201.jpg);}
#wrap #main #section1 .wrap .gap .container .left-box .slide-container .slide-view .slide-wrap .slide2 {background-image: url(../img/img_visual0301.jpg);}

#wrap #main #section1 .wrap .gap .container .left-box .slide-container .slide-btn {width: 200px;height: 50px;position: absolute;z-index: 10;top: 475px;right: -100px;background: #fff;}


#wrap #main #section1 .wrap .gap .container .right-box {float: left;max-width: 670px;height: 100%;position: relative;}
#wrap #main #section1 .wrap .gap .container .right-box .top-box {width: 100%;height: 500px;position: relative;overflow: hidden;}
#wrap #main #section1 .wrap .gap .container .right-box .top-box .slide-container {width: 100%;height: 100%;position: relative;}
#wrap #main #section1 .wrap .gap .container .right-box .top-box .slide-container .slide-view {width: 100%;height: 100%;position: relative;}
#wrap #main #section1 .wrap .gap .container .right-box .top-box .slide-container .slide-view .slide-wrap {width: 500%;height: 100%;margin-left: -100%;position: relative;}
#wrap #main #section1 .wrap .gap .container .right-box .top-box .slide-container .slide-view .slide-wrap .slide {width: 670px;height: 100%;float: left;position: relative;left: 0;background: url(../img/img_visual0102.jpg) no-repeat 50% 50%;background-size: cover;}
#wrap #main #section1 .wrap .gap .container .right-box .top-box .slide-container .slide-view .slide-wrap .slide0 {background-image: url(../img/img_visual0102.jpg);}
#wrap #main #section1 .wrap .gap .container .right-box .top-box .slide-container .slide-view .slide-wrap .slide1 {background-image: url(../img/img_visual0202.jpg);}
#wrap #main #section1 .wrap .gap .container .right-box .top-box .slide-container .slide-view .slide-wrap .slide2 {background-image: url(../img/img_visual0302.jpg);}

#wrap #main #section1 .wrap .gap .container .right-box .bottom-box {width: 100%;height: 469px;background: url(../img/img_popupzone.jpg) no-repeat 50% 50%;background-size: cover;}
#wrap #main #section1 .wrap .gap .container .right-box .bottom-box a {display: block;width: 100%;height: 100%;}


#wrap #main #section2 {width: 100%;height: 969px;}


#wrap #main #section3 {width: 100%;}


#wrap #footer {width: 100%;position: relative;z-index: 1;}

