@charset "UTF-8";

* {margin: 0;padding: 0;box-sizing: border-box;}
html {overflow-y:scroll;}
html, body {width: 100%;height: 100%;font-family: 'Pretendard-Regular';}
ul, li {list-style: none;}
a {text-decoration: none;color: #191919;}
a:hover {outline: 0;}
a:focus {outline: 0;}
em, i, address {font-style: normal;}
table {border-collapse: collapse;}
button {font-family: 'Pretendard-Regular';padding: 0;border: 0;}

.a11y-hidden {overflow: hidden !important; clip:rect(0 0 0 0); clip:rect(0,0,0,0); position: absolute;width: 1px !important;height: 1px !important;margin: -1px;border: 0;padding: 0;}
.a11y-hidden.focusable:focus,
.a11y-hidden.focusable:active {outline: visible; clip:auto; position: static; width: auto;height: auto;margin: 0;}

#skip {z-index: 9999;position: fixed;top: 0;left: 0;text-align: center;}
#skip a {display: block;line-height: 0;font-size: 0;}
#skip a:focus {font-size: 30px;line-height: 1.2;padding: 0 10px;background: #fff;outline: 2px solid #ddf;}