@charset "UTF-8";

#wrap {width: 100%;height: 100%;}
#wrap .title {padding: 30px 0;text-align: center;}
#wrap .title h1 {font-size: 50px;}

#wrap .slide-container {width: 100%;}
#wrap .slide-container .slide-view {width: 100%;position: relative;overflow: hidden;}
#wrap .slide-container .slide-view .slide-wrap {width: 600%;position: relative;display: flex;flex-direction: row;pointer-events: none;}
#wrap .slide-container .slide-view .slide-wrap .slide {width: 100%;height: 500px;font-size: 30px;display: flex;justify-content: center;align-items: center;pointer-events: none;}
#wrap .slide-container .slide-view .slide-wrap .slide0 {background: #cdc;}
#wrap .slide-container .slide-view .slide-wrap .slide1 {background: #dcd;}
#wrap .slide-container .slide-view .slide-wrap .slide2 {background: #ffa;}
#wrap .slide-container .slide-view .slide-wrap .slide3 {background: #ccf;}
#wrap .slide-container .slide-view .slide-wrap .slide4 {background: #dcb;}
#wrap .slide-container .slide-view .slide-wrap .slide5 {background: #abc;}