@charset "UTF-8";

#wrap {width: 100%;position: relative;overflow: hidden;}
#wrap #main {width: 100%;}
#wrap #main #section1 {width: 100%;height: 969px;background: linear-gradient(45deg,rgba(140, 210, 255, .4) 75%, rgba(255, 220, 220, 1) 100%) fixed;background-size: cover;position: relative;transition: all .6s;}
#wrap #main #section1 .wrap {width: 100%;min-width: 1170px;margin: 0 auto;padding: 200px 0;}
#wrap #main #section1 .wrap .gap {width: 100%;}
#wrap #main #section1 .wrap .gap .container {width: 100%;text-align: center;}

#wrap #main #section1 .wrap .gap .container .cube {margin: 100px auto;width: 300px;height: 300px;position: relative;transform-style: preserve-3d;transform: perspective(600px) rotate3d(0, 0, 0, 0);font-family: 'Uiyeun';}
#wrap #main #section1 .wrap .gap .container .cube .face   {width: 100%;height: 100%;position: absolute;text-align: center;font-size: 40px;line-height: 120%;color: #fff;text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);border: 1px solid #fff;backface-visibility:hidden;display: flex;align-items: center;justify-content: center;}

#wrap #main #section1 .wrap .gap .container .cube .front  {transform: rotateY(  0deg) translateZ(150px);background-image: linear-gradient(180deg, #fff, #ddd, #fff, #ddd, #fff, #ddd, #fff, #ddd, #fff, #ddd, #fff, #ddd, #fff, #ddd, #fff, #ddd, #fff, #ddd, #fff, #ddd, #fff, #ddd, #fff, #ddd, #fff, #ddd, #fff, #ddd, #fff, #ddd, #fff, #ddd, #fff, #ddd, #fff, #ddd, #fff, #ddd, #fff);color: #333;}
#wrap #main #section1 .wrap .gap .container .cube .left   {transform: rotateY(-90deg) translateZ(150px);background: #cdc;}
#wrap #main #section1 .wrap .gap .container .cube .back   {transform: rotateY(180deg) translateZ(150px);background: rgba(255, 255, 255, .3);}
#wrap #main #section1 .wrap .gap .container .cube .right  {transform: rotateY( 90deg) translateZ(150px);background: #bcd;}
#wrap #main #section1 .wrap .gap .container .cube .top    {transform: rotateX( 90deg) translateZ(150px);background: #cdf;}
#wrap #main #section1 .wrap .gap .container .cube .bottom {transform: rotateX(-90deg) translateZ(150px);background: #abc;}

#wrap #main #section1 .wrap .gap .container .link-wrap > span {position: absolute;z-index: 3;font-family: 'Uiyeun';}
#wrap #main #section1 .wrap .gap .container .link-wrap > span:nth-of-type(1) {width: 300px;height: 100px;top: 1%;left: 50%;margin-left: -150px;}
#wrap #main #section1 .wrap .gap .container .link-wrap > span:nth-of-type(2) {width: 100px;height: 300px;top: 50%;left: 1%;margin-top: -150px;}
#wrap #main #section1 .wrap .gap .container .link-wrap > span:nth-of-type(3) {width: 100px;height: 300px;top: 50%;left: 99%;margin-left: -100px;margin-top: -150px;}
#wrap #main #section1 .wrap .gap .container .link-wrap > span:nth-of-type(4) {width: 300px;height: 100px;top: 99%;left: 50%;margin-left: -150px;margin-top: -100px;}
#wrap #main #section1 .wrap .gap .container .link-wrap > span > a {display: block;width: 100%;height: 100%;font-size: 80px;color: #fff;text-shadow: 2px 4px 4px rgba(0, 0, 0, .4);transition: all .6s;opacity: .3;}
#wrap #main #section1 .wrap .gap .container .link-wrap > span > a.addAni {color: #222;opacity: 1;}

#wrap #main #section1 .wrap .gap .container .link-wrap > span:nth-of-type(2) > a {writing-mode: vertical-rl;transform: rotate(-180deg);}
#wrap #main #section1 .wrap .gap .container .link-wrap > span:nth-of-type(3) > a {writing-mode: vertical-rl;}

/* 시네마틱인트로 */
#wrap #main #section1 .intro-box {position: absolute;z-index: 10;width: 100%;height: 100%;font-family: 'Uiyeun';overflow: hidden;}
#wrap #main #section1 .intro-box > h1 {position: absolute;z-index: 2;top: 50%;left: 50%;color: #fff;font-size: 100px;text-align: center;width: 500px;margin-left: -250px;margin-top: -150px;}
#wrap #main #section1 .intro-box > p {position: absolute;z-index: 2;top: 50%;left: 50%;color: #fff;font-size: 24px;margin-top: -150px;margin-left: 150px;transform: rotate(30deg);}
#wrap #main #section1 .intro-box > p > i {margin-left: 5px;animation: swing 1s infinite;}
@keyframes swing {
  0%,100% {transform: rotate(15deg);}
  50% {transform: rotate(-15deg);}
}
#wrap #main #section1 .intro-box > span {position: absolute;z-index: 2;bottom: 20px;right: 20px;color: #fff;font-size: 24px;}
#wrap #main #section1 .intro-box .intro {position: absolute;z-index: 1;background: rgba(0, 0, 0, 1);transition: all 1.5s cubic-bezier(.9, 0, .1, 1);}
#wrap #main #section1 .intro-box .intro:nth-of-type(1) {width: 100%;height: 50%;top: 0;left: 0;}
#wrap #main #section1 .intro-box .intro:nth-of-type(1).addAni {transform: translateY(-101%);}
#wrap #main #section1 .intro-box .intro:nth-of-type(2) {width: 50%;height: 100%;top: 0;left: 50%;}
#wrap #main #section1 .intro-box .intro:nth-of-type(2).addAni {transform: translateX(100%);}
#wrap #main #section1 .intro-box .intro:nth-of-type(3) {width: 100%;height: 50%;bottom: 0;left: 0;}
#wrap #main #section1 .intro-box .intro:nth-of-type(3).addAni {transform: translateY(100%);}
#wrap #main #section1 .intro-box .intro:nth-of-type(4) {width: 50%;height: 100%;top: 0;left: 0;}
#wrap #main #section1 .intro-box .intro:nth-of-type(4).addAni {transform: translateX(-101%);}

/* profile */
.profile {position: absolute;top: 50%;left: 100%;margin-top: -30px;}
.profile > ul {width: 250px;padding-bottom: 15px;}
.profile > ul > li {color: #444;padding: 5px 0;transition: all .6s;}
.profile > ul > li.addAni {transform: translateX(-350px);}
.profile > ul > li:nth-child(1).addAni {transition-delay:  0s;}
.profile > ul > li:nth-child(2).addAni {transition-delay: .2s;}
.profile > ul > li:nth-child(3).addAni {transition-delay: .4s;}
.profile > ul > li:nth-child(4).addAni {transition-delay: .6s;}
.profile > ul > li:nth-child(5).addAni {transition-delay: .8s;}
.profile > ul > li > i {float: left;display: inline-block;width: 40px;height: 30px;line-height: 30px;}
.profile > ul > li:nth-child(5) > i {font-size: 20px;}
.profile > ul > li > span {float: left;display: inline-block;font-size: 15px;line-height: 30px;font-weight: 600;}
.profile > ul > li:nth-child(5) > a {float: left;display: inline-block;font-size: 15px;line-height: 30px;font-weight: 600;}

/* skills */
.skills {position: relative;z-index: 3;}
.skills > ul {width: 450px;}
.skills > ul > li {position: relative;text-align-last: left;padding: 5px 0;width: 50%;float: left;transition: all .6s;}
.skills > ul > li.addAni {transform: translateX(-450px);}
.skills > ul > li:nth-child(1).addAni {transition-delay:   1s;}
.skills > ul > li:nth-child(2).addAni {transition-delay: 1.1s;}
.skills > ul > li:nth-child(3).addAni {transition-delay: 1.2s;}
.skills > ul > li:nth-child(4).addAni {transition-delay: 1.3s;}
.skills > ul > li > p {font-size: 15px;color: #222;font-weight: 600;line-height: 150%;padding-bottom: 5px;margin-left: 5px;}
.skills > ul > li > p:nth-child(1) {float: left;}
.skills > ul > li > p:nth-child(2) {float: right;margin-right: 30px;}
.skills > ul > li .progress-bar {position: absolute;z-index: 2;bottom: 0;left: 0;width: 200px;height: 6px;background: rgba(255, 255, 255, .5);border-radius: 3px;overflow: hidden;}
.skills > ul > li .progress-bar > i {position: absolute;z-index: 1;top: 0;left: -200px;width: 200px;height: 6px;border-radius: 3px;background: #fff;}
.skills > ul > li:nth-child(1) .progress-bar.addAni > i {transform: translateX(180px);animation: progressbar1 2s;}
@keyframes progressbar1 {
    0% {transform: translateX(0);}
  100% {transform: translateX(180px);}
}
.skills > ul > li:nth-child(2) .progress-bar.addAni > i {transform: translateX(180px);animation: progressbar2 2s;}
@keyframes progressbar2 {
    0% {transform: translateX(0);}
  100% {transform: translateX(180px);}
}
.skills > ul > li:nth-child(3) .progress-bar.addAni > i {transform: translateX(130px);animation: progressbar3 2s;}
@keyframes progressbar3 {
    0% {transform: translateX(0);}
  100% {transform: translateX(130px);}
}
.skills > ul > li:nth-child(4) .progress-bar.addAni > i {transform: translateX(160px);animation: progressbar4 2s;}
@keyframes progressbar4 {
    0% {transform: translateX(0);}
  100% {transform: translateX(160px);}
}

/* weather */
.weather {position: absolute;z-index: 2;top: 0;left: 0;width: 100%;height: 100%;}
.weather .time {position: relative;z-index: 2;width: 100%;height: 100%;}
.weather .time li {display: inline-block;margin: 0 10px;padding-top: 100px;}
.weather .time li > a {display: inline-block;color: #444;font-size: 30px;font-family: 'Uiyeun';opacity: .5;transition: all .6s;}
.weather .time li > a.addClick {color: #222;opacity: 1;}

.weather .midday {opacity: 1;}
.weather .midday i {position: absolute;z-index: 1;color: #fff;font-size: 100px;}
.weather .midday i:nth-child(1) {top: 0;right: 0;z-index: 2;color: #f00;font-size: 150px;animation: swing 5s infinite;}
.weather .midday i:nth-child(2) {top: 90px;left: 15%;animation: cloud 60s infinite;}
.weather .midday i:nth-child(3) {top: 30px;left: 35%;animation: cloud 60s infinite;}
.weather .midday i:nth-child(4) {top: 60px;left: 55%;animation: cloud 60s infinite;}
.weather .midday i:nth-child(5) {top: 0;left: 75%;animation: cloud 60s infinite;}
.weather .midday i:nth-child(6) {top: 0;left: -5%;animation: cloud 60s infinite;}
.weather .midday i:nth-child(7) {top: 90px;left: -20%;animation: cloud 60s infinite;}
@keyframes cloud {
  0%,100% {transform: translateX(0);}
  50% {transform: translateX(500px);}
}

.weather .night {opacity: 0;}


/* wave animation */
.wave-box {position: absolute;z-index: 1;bottom: 0;left: 0;width: 100%;height: 100%;}
.wave1 {position: absolute;z-index: 3;bottom: 0;left: 0;width: 100%;height: 50%;background: rgba(128, 216, 255, .5);animation: wave1 5s ease-in-out infinite;}
@keyframes wave1 {
  0%,100% {clip-path: polygon(0 63%, 7% 56%, 15% 51%, 25% 49%, 34% 54%, 40% 60%, 47% 69%, 54% 74%, 62% 77%, 71% 76%, 78% 71%, 84% 66%, 91% 61%, 100% 60%, 100% 100%, 0 100%);}
  50% {clip-path: polygon(0 58%, 9% 62%, 16% 68%, 23% 74%, 32% 77%, 40% 78%, 48% 76%, 55% 70%, 60% 63%, 67% 58%, 74% 53%, 84% 52%, 93% 53%, 100% 57%, 100% 100%, 0 100%);}
}
.wave2 {position: absolute;z-index: 2;bottom: 0;left: 0;width: 100%;height: 50%;background: rgba(181, 255, 255, .5);animation: wave2 4s ease-in-out infinite;}
@keyframes wave2 {
  0%,100% {clip-path: polygon(0 63%, 7% 66%, 13% 71%, 18% 76%, 26% 79%, 34% 79%, 43% 78%, 48% 74%, 56% 69%, 61% 63%, 66% 58%, 72% 54%, 80% 53%, 87% 54%, 94% 59%, 100% 66%, 100% 100%, 0 100%);}
  50% {clip-path: polygon(0 67%, 5% 60%, 11% 54%, 19% 50%, 27% 54%, 35% 57%, 41% 62%, 47% 69%, 53% 75%, 59% 81%, 68% 84%, 76% 84%, 84% 83%, 90% 79%, 95% 74%, 100% 69%, 100% 100%, 0 100%);}
}
.wave3 {position: absolute;z-index: 1;bottom: 0;left: 0;width: 100%;height: 50%;background: rgba(73, 167, 204, .5);animation: wave3 4.5s ease-in-out infinite;}
@keyframes wave3 {
  0%,100% {clip-path: polygon(0% 63%, 7% 59%, 14% 55%, 23% 55%, 31% 58%, 38% 63%, 44% 69%, 52% 73%, 61% 74%, 70% 75%, 78% 73%, 86% 69%, 93% 65%, 100% 63%, 100% 100%, 0 100%);}
  50% {clip-path: polygon(0 64%, 7% 67%, 15% 71%, 21% 75%, 29% 80%, 39% 82%, 48% 80%, 56% 77%, 62% 71%, 68% 66%, 77% 62%, 85% 61%, 93% 64%, 100% 69%, 100% 100%, 0 100%);}
}

.filter {position: absolute;z-index: 1;top: 0;left: 0;width: 100%;height: 100%;background: rgba(0, 0, 0, .4);}

/* title */
.title > p {font-size: 18px;color: #fff;padding: 5px 0;transform: rotateX(-90deg);transform-origin: 50% 100%;transition: all .6s;}
.title > p.addScroll {transform: rotateX(0);}
.title > h2 {font-size: 45px;color: #fff;padding-top: 20px;transform: rotateX(-90deg);transform-origin: 50% 100%;transition: all .6s;}
.title > h2.addScroll {transform: rotateX(0);transition-delay: .2s;}
.title > h3 {font-size: 18px;color: #fff;padding-top: 10px;opacity: 0;transition: all .6s;}
.title > h3.addScroll {opacity: 1;transition-delay: .4s;}
.title > ul {padding-top: 10px;}
.title > ul > li {list-style: '-';font-size: 15px;color: #fff;padding: 10px 0;margin-left: 10px;opacity: 0;transform: translateX(300px);transition: all .6s;}
.title > ul > li.addScroll {opacity: 1;transform: translateX(0);}
.title > ul > li:nth-of-type(1).addScroll {transition-delay:  .5s;}
.title > ul > li:nth-of-type(2).addScroll {transition-delay:  .6s;}
.title > ul > li:nth-of-type(3).addScroll {transition-delay:  .7s;}
.title > ul > li:nth-of-type(4).addScroll {transition-delay:  .8s;}
.title > ul > li:nth-of-type(5).addScroll {transition-delay:  .9s;}
.title > ul > li:nth-of-type(6).addScroll {transition-delay:   1s;}
.title > ul > li:nth-of-type(7).addScroll {transition-delay: 1.2s;}
.title > ul > li:nth-of-type(8).addScroll {transition-delay: 1.4s;}
.title > ul > li:nth-of-type(9).addScroll {transition-delay: 1.6s;}
.title > ul > li:nth-of-type(10).addScroll {transition-delay: 1.8s;}
.title > ul > li > p {font-size: 15px;color: #fff;font-weight: 300;margin-left: 10px;}

.title > .btn-wrap {position: absolute;top: 0;left: 300px;width: 150px;height: 30px;opacity: 0;transition: all 1s;}
.title > .btn-wrap.addScroll {opacity: 1;}
.title > .btn-wrap .link-btn {display: block;position: relative;width: 100%;height: 100%;font-size: 14px;color: #fff;line-height: 30px;text-align: center;box-sizing: border-box;overflow: hidden;}
.title > .btn-wrap .link-btn .neon-line {position: absolute;display: block;}
.title > .btn-wrap .link-btn .neon-line:nth-child(1) {top: 0;left: 0;width: 100%;height: 2px;background: linear-gradient(90deg, #f00000, #fffc30);transition: all .4s;}
.title > .btn-wrap .link-btn:hover .neon-line:nth-child(1) {left: 100%;transition: all .1s;}
.title > .btn-wrap .link-btn .neon-line:nth-child(2) {top: 0;right: 0;width: 2px;height: 100%;background: linear-gradient(180deg, #fffc30, #52cc00);transition: all .4s;}
.title > .btn-wrap .link-btn:hover .neon-line:nth-child(2) {top: 100%;transition: all .1s;transition-delay: .1s;}
.title > .btn-wrap .link-btn .neon-line:nth-child(3) {bottom: 0;right: 0;width: 100%;height: 2px;background: linear-gradient(270deg, #52cc00, #30cfff);transition: all .4s;}
.title > .btn-wrap .link-btn:hover .neon-line:nth-child(3) {right: 100%;transition: all .1s;transition-delay: .2s;}
.title > .btn-wrap .link-btn .neon-line:nth-child(4) {bottom: 0;left: 0;width: 2px;height: 100%;background: linear-gradient(360deg, #30cfff, #f00000);transition: all .4s;}
.title > .btn-wrap .link-btn:hover .neon-line:nth-child(4) {bottom: 100%;transition: all .1s;transition-delay: .3s;}
.title > .btn-wrap .link-btn .neon-line:nth-child(5) {top: 0;left: -100%;width: 100%;height: 2px;background: linear-gradient(90deg, #f00000, #fffc30);}
.title > .btn-wrap .link-btn:hover .neon-line:nth-child(5) {left: 0;transition: all .2s;transition-delay: .4s;}
.title > .btn-wrap .link-btn .neon-line:nth-child(6) {top: -100%;right: 0;width: 2px;height: 100%;background: linear-gradient(180deg, #fffc30, #52cc00);}
.title > .btn-wrap .link-btn:hover .neon-line:nth-child(6) {top: 0;transition: all .2s;transition-delay: .4s;}
.title > .btn-wrap .link-btn .neon-line:nth-child(7) {bottom: 0;right: -100%;width: 100%;height: 2px;background: linear-gradient(270deg, #52cc00, #30cfff);}
.title > .btn-wrap .link-btn:hover .neon-line:nth-child(7) {right: 0;transition: all .2s;transition-delay: .4s;}
.title > .btn-wrap .link-btn .neon-line:nth-child(8) {bottom: -100%;left: 0;width: 2px;height: 100%;background: linear-gradient(360deg, #30cfff, #f00000);}
.title > .btn-wrap .link-btn:hover .neon-line:nth-child(8) {bottom: 0;transition: all .2s;transition-delay: .4s;}



#wrap #main #section2 {width: 100%;height: 969px;background: url(../img/main2.jpg) no-repeat 50% 50% fixed;background-size: cover;position: relative;}
#wrap #main #section2 .wrap {width: 100%;max-width: 1170px;margin: 0 auto;padding: 150px 0;position: relative;z-index: 2;}
#wrap #main #section2 .wrap .gap {width: 100%;}
#wrap #main #section2 .wrap .gap .container {width: 100%;}
#wrap #main #section2 .wrap .gap .container .title {position: relative;}


#wrap #main #section3 {width: 100%;height: 969px;background: url(../img/main3.jpg) no-repeat 50% 50% fixed;background-size: cover;position: relative;}
#wrap #main #section3 .wrap {width: 100%;max-width: 1170px;margin: 0 auto;padding: 150px 0;position: relative;z-index: 2;}
#wrap #main #section3 .wrap .gap {width: 100%;}
#wrap #main #section3 .wrap .gap .container {width: 100%;}
#wrap #main #section3 .wrap .gap .container .title {position: relative;}

#wrap #main #section4 {width: 100%;height: 969px;background: url(../img/main4.jpg) no-repeat 50% 50% fixed;background-size: cover;position: relative;}
#wrap #main #section4 .wrap {width: 100%;max-width: 1170px;margin: 0 auto;padding: 150px 0;position: relative;z-index: 2;}
#wrap #main #section4 .wrap .gap {width: 100%;}
#wrap #main #section4 .wrap .gap .container {width: 100%;}
#wrap #main #section4 .wrap .gap .container .title {position: relative;}

#wrap #main #section5 {width: 100%;height: 969px;background: url(../img/main5.jpg) no-repeat 50% 50% fixed;background-size: cover;position: relative;}
#wrap #main #section5 .wrap {width: 100%;max-width: 1170px;margin: 0 auto;padding: 150px 0;position: relative;z-index: 2;}
#wrap #main #section5 .wrap .gap {width: 100%;}
#wrap #main #section5 .wrap .gap .container {width: 100%;}
#wrap #main #section5 .wrap .gap .container .title {position: relative;}

/* go-top */
#go-top {position: absolute;z-index: 3;bottom: 50px;right: 50px;}
#go-top a {display: block;width: 40px;height: 40px;background: #fff;border-radius: 50%;text-align: center;}
#go-top a i {display: block;font-size: 20px;line-height: 40px;}
