@charset "UTF-8";

/* sub page title */
#wrap #main #section1 .wrap .gap .container .sub-title {width: 100%;height: 820px;background: url(../../img/img_subVisual06.jpg) no-repeat 50% 50%;position: relative;}

#wrap #main #section1 .wrap .gap .container .sub-content  {max-width: 1200px;margin: 0 auto;padding:50px 0 100px 0;position: relative;text-align: center;}
#wrap #main #section1 .wrap .gap .container .sub-content .img-box {}
#wrap #main #section1 .wrap .gap .container .sub-content .img-box img {display: inline-block;}
#wrap #main #section1 .wrap .gap .container .sub-content h3 {font-size: 28px;color: #444;font-weight: 300;line-height: 150%;padding-top: 25px;}
#wrap #main #section1 .wrap .gap .container .sub-content h3 strong {display: inline-block;font-size: 28px;color: #3c4147;    margin-bottom: 5px;}
#wrap #main #section1 .wrap .gap .container .sub-content p {font-size: 15px;color: #444;font-weight: 300;line-height: 200%;}