@charset "UTF-8";

#wrap {}

#wrap #header {z-index: 3;position: fixed;top: 0;left: 0;width: 100%;height: 100px;background: rgba(255, 255, 255, 1);color: #343434;font-size: 30px;box-shadow: 0 0 5px rgba(0, 0, 0, .3);text-align: center;line-height: 100px;}


#wrap #main {z-index: 1;position: relative;width: 100%;height: auto;}
#wrap #main #section01 {width: 100%;height: 969px;line-height: 969px;color: #fff;font-size: 50px;text-align: center;background: url(../img/main_visual_bg.jpg);}
#wrap #main #section01 .wrap {width: 100%;height: 100%;}
#wrap #main #section01 .wrap .gap {margin: 0;height: 100%;}
#wrap #main #section01 .wrap .gap .container {width: 100%;height: 100%;}
#wrap #main #section01 .wrap .gap .container .content {width: 100%;max-width: 1000px;margin: 0 auto;height: 100%;background: url(../img/main_visual.jpg) no-repeat 50% 0;background-size: cover;}
#wrap #main #section01 .wrap .gap .container .content .timer-box {width: 490px;height: 490px;margin: 0 auto;position: relative;top: -120px;}
#wrap #main #section01 .wrap .gap .container .content .timer-box .timer-img {width: 100%;display: block;position: absolute;top: 0;left: 0;}
#wrap #main #section01 .wrap .gap .container .content .timer-box .timer-img img {width: 100%;}
#wrap #main #section01 .wrap .gap .container .content .timer-box .timer-img01 {z-index: 1;} /* 1시간 30도, 1분 6도, 1초 6도 */
#wrap #main #section01 .wrap .gap .container .content .timer-box .timer-img02 {z-index: 2;}
#wrap #main #section01 .wrap .gap .container .content .timer-box .timer-img03 {z-index: 3;}
#wrap #main #section01 .wrap .gap .container .content .timer-box .timer-img04 {z-index: 4;}
#wrap #main #section01 .wrap .gap .container .content .timer-box .timer-img05 {z-index: 5;}
#wrap #main #section01 .wrap .gap .container .content .timer-box .date-box {position: absolute;top: 30px;left: 0;z-index: 2;margin-left: 190px;}
#wrap #main #section01 .wrap .gap .container .content .timer-box .date-box span {font-size: 15px;color: #232323;font-weight: 600;}
#wrap #main #section01 .wrap .gap .container .content .digital-timer {position: absolute;top: -350px;left: 46%;}
#wrap #main #section01 .wrap .gap .container .content .digital-timer span {font-size: 20px;border: 2px solid #fff;padding: 5px 10px;}
#wrap #main #section01 .wrap .gap .container .content .digital-timer i {font-size: 20px;border: 2px solid #fff;padding: 5px 10px;}

#wrap #main #section01 .wrap .gap .container .calender {position: absolute;top: 150px;left: 50px;width: 350px;line-height: 100%;cursor: pointer;}
#wrap #main #section01 .wrap .gap .container .calender table {width: 100%;}
#wrap #main #section01 .wrap .gap .container .calender table th {width: 50px;height: 50px;border: 1px solid #ccc;text-align: center;font-size: 16px;}
#wrap #main #section01 .wrap .gap .container .calender table td {width: 50px;height: 50px;border: 1px solid #ccc;text-align: center;font-size: 16px;}
#wrap #main #section01 .wrap .gap .container .calender table td:hover {background: rgba(255, 255, 255, .4);}
#wrap #main #section01 .wrap .gap .container .calender table .sun {color: rgb(175, 49, 60);font-weight: 600;}
#wrap #main #section01 .wrap .gap .container .calender table .sat {color: rgb(60, 45, 175);font-weight: 600;}
#wrap #main #section01 .wrap .gap .container .calender table .prev-month {opacity: .7;}
#wrap #main #section01 .wrap .gap .container .calender table .next-month {opacity: .7;}


#wrap #footer {z-index: 2;position: relative;width: 100%;height: 400px;background: #343434;}